<template>
  <div>
    <el-table
      v-loading="loading"
      :data="paginatedPage[actual]"
      stripe
      style="width: 100%;position: relative;right: 4px;"
      empty-text="No process was created "
    >
      <el-table-column prop="id" label="Id" width="60"></el-table-column>
      <el-table-column prop="created_at" label="Creation date" width="190px">
        <template slot-scope="scope">
          <i class="el-icon-time"></i>
          <span style="margin-left: 10px">{{ scope.row.created_at }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="name" label="Name"></el-table-column>
      <el-table-column label="Operations" width="150px">
        <template slot-scope="scope">
          <el-button
            @click="handleDelete(scope.$index, paginatedPage[actual])"
            size="mini"
            icon="el-icon-delete"
            type="danger"
            class="deleteSect"
          ></el-button>
          <el-button
            @click="
              goToRootProcess(scope.$index, paginatedPage[actual][scope.$index])
            "
            size="mini"
            type="success"
            icon="el-icon-right"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      v-show="paginatedPage.length > 1"
      @current-change="currentChange"
      :page-size="5"
      :total="guides.length"
      small
      layout="prev, pager, next"
    >
    </el-pagination>
  </div>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  name: "SubmitFormLogCreation",
  props: {
    activeNameLocal: {
      type: String,
      default: () => "asd"
    },
    guides: {
      type: Array,
      default: () => Array
    },
    dynamicValidateForm: {
      type: Object,
      default: () => ({})
    },
    goToProcess: {
      type: Function,
      default: () => Function
    },
    setToPreview: {
      type: Function,
      default: () => Function
    }
  },
  data() {
    return {
      actual: 0,
      loading: false
    };
  },
  computed: {
    paginatedPage() {
      let chunked,
        chunk = 5,
        show = [];

      for (let i = 0, j = this.guides.length; i < j; i += chunk) {
        chunked = this.guides.slice(i, i + chunk);
        show.push(chunked);
      }
      // debugger;
      return show;
    }
  },
  methods: {
    // handleEdit(index, row) {
    //   // console.log(index, row);
    // },
    // goToProcess(index, table){
    //   this.
    // },
    ...mapMutations("guides", ["removeFromPages"]),
    handleDelete(index, table) {
      // console.log(index, table);
      this.$confirm(
        `Are you sure to delete the process ${table[index].name}?`,
        "Warning",
        {
          confirmButtonText: "OK",
          cancelButtonText: "Cancel",
          type: "warning"
        }
      ).then(() => {
        let guideId = table[index].id;
        let indexa = _.findIndex(this.guides, e => e.id === guideId);
        table.splice(index, 1);
        this.$http.delete(`/api/guides/${guideId}`);
        this.removeFromPages(guideId);

        this.$emit("spliceGuides", indexa);
        this.guides.splice(indexa, 1);
      });
    },
    goToRootProcess(index, guide) {
      console.log("index, guide :", index, guide);
      this.setToPreview();
      //       if (id == this.activePage.id) {
      //   this.activeNameLocal = "Preview";
      //   return;
      // }
      // let page = _.find(this.pages, e => e.id == id);
      // this.addToBreadcrumb({ id: page.id, name: page.name });
      // this.resetFields();
      // this.loading = true;
      // this.$router.push({
      //   name: "process",
      //   params: { id: id }
      // });
      // this.activeNameLocal = "Preview";
      // this.loading = false;
    },
    currentChange(current) {
      this.actual = current - 1;
    }
  }
};
</script>

<style lang="scss">
.deleteSect {
  background-color: rgba(193, 33, 38, 1);
}

.deleteSect:hover {
  background-color: rgba(193, 33, 38, 0.6) !important;
}
</style>
