<template>
  <el-form
    ref="dynamicValidateForm"
    v-loading="loading"
    :model="dynamicValidateForm"
    @submit.native.prevent="submitForm('dynamicValidateForm')"
    label-width="120px"
    class="demo-dynamic"
    style="position: relative;left: -14px;margin-top: 40px;height: 68px;"
  >
    <el-form-item
      :rules="[
        {
          type: 'string',
          required: true,
          message: 'Please input name',
          trigger: 'blur'
        }
      ]"
      prop="name"
      label="Process name:"
    >
      <el-input
        @keyup.enter.prevent="submitForm('dynamicValidateForm')"
        v-model="dynamicValidateForm.name"
        placeholder="Press enter to add a new process"
      ></el-input>
    </el-form-item>
    <!-- <el-row style="">
      <el-col :span="18" :offset="2">
        <el-form-item style="float: right;">
          <el-button
            @click="submitForm('dynamicValidateForm')"
            type="primary"
            size="small"
            round
            >Create</el-button
          >
        </el-form-item>
      </el-col> 
    </el-row>-->
  </el-form>
</template>
<script>
import { mapMutations } from "vuex";
export default {
  name: "SubmitFormCreation",
  props: {
    dynamicValidateForm: {
      type: Object,
      default: () => ({})
    },
    guides: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      loading: false
    };
  },
  methods: {
    ...mapMutations("guides", ["addToPages"]),
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          console.log("this.loading :", this.loading);
          if (this.loading) return;
          this.loading = !this.loading;
          // {
          //       id: null,
          //       name: "First Tree Element",
          //       builder: [{
          //           title: "",
          //           fields: []
          //       }],
          //       visible: false,
          //       guide_id: null,
          //       updated_at: '1900',
          //       created_at: '1900'
          //   }

          let {
            id,
            name,
            builder,
            visible,
            guide_id,
            updated_at,
            created_at
          } = this.guideDomain();
          this.$http
            .post("/api/guides", {
              id,
              name,
              builder,
              visible,
              guide_id,
              updated_at,
              created_at
            })
            .then(({ data }) => {
              // this.guideDomain(data.id);
              this.addDomain(data.id);
              this.dynamicValidateForm.name = "";
              this.$message.success("Successfully created!");
              this.loading = !this.loading;
            });
        } else {
          // console.log("error submit!!");
          this.$message.error("Invalid input!!");
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    removeDomain(item) {
      var index = this.dynamicValidateForm.guides.indexOf(item);
      if (index !== -1) {
        this.dynamicValidateForm.guides.splice(index, 1);
      }
    },
    guideDomain(id) {
      return {
        id: id,
        builder: JSON.stringify([
          {
            title: "",
            fields: []
          }
        ]),
        visible: false,
        guide_id: null,
        updated_at: `${new Date()
          .toJSON()
          .slice(0, 10)} ${new Date().toJSON().slice(11, 19)}`,
        created_at: `${new Date()
          .toJSON()
          .slice(0, 10)} ${new Date().toJSON().slice(11, 19)}`,
        name: this.dynamicValidateForm.name
      };
    },
    addDomain(id) {
      let guide = this.guideDomain(id);
      this.addToPages(guide);
      this.dynamicValidateForm.guides.push(guide);
      // debugger;
      return [guide];
    }
  }
};
</script>
<style>
.el-input__icon:hover {
  color: black;
  font-size: 20px;
}
</style>
