<template>
  <el-form>
    <el-form-item label="Search:">
      <el-select
        v-model="toAssign"
        :remote-method="searchRemotely"
        :loading="isSearchingLoading"
        loading-text="Loading..."
        no-data-text="No categories data"
        filterable
        remote
        clearable
        multiple
        placeholder="Ex.: Gold categories"
        style="width:100%"
      >
        <el-option
          v-for="item in options"
          :key="item.id"
          :label="item.name"
          :value="item.id"
          style="width:100%"
        ></el-option>
      </el-select>
    </el-form-item>
    <el-form-item>
      <el-button
        :disabled="!!assignValidate"
        :type="!!assignValidate ? 'primary' : 'info'"
        @click="assign"
        round
        >{{ !!assignValidate ? "Assigned" : "Assign it!" }}
      </el-button>
    </el-form-item>
  </el-form>
</template>
<script>
import { mapState, mapMutations } from "vuex";
export default {
  name: "Assign",
  data() {
    return {
      isSearchingLoading: false,
      options: [],
      firstTime: true,
      toAssign: []
    };
  },
  computed: {
    ...mapState("guides/categories", ["data"]),
    ...mapState("guides", ["activePage", "pages"]),
    assignValidate() {
      if (!_.has(this.activePage, "categories.length")) return;
      let categoriesAssign = this.toAssign;
      let idsActCats = this.activePage.categories.map(e => e.id);
      // debugger;
      return _.isEqual(categoriesAssign.sort(), idsActCats.sort());
    }
  },
  watch: {
    toAssign: {
      handler(newIds, oldIds) {
        let minus = newIds.length - oldIds.length;
        let diff = [];
        if (minus === 1 && !this.firstTime) {
          diff = _.difference(newIds, oldIds);
          this.addProcessToCategory(diff);
        } else if (minus === -1 && !this.firstTime) {
          diff = _.difference(oldIds, newIds);
          this.deleteProcessFromCategory(diff);
        }
        this.firstTime = false;
      },
      deep: true
    },
    $route() {
      this.firstTime = true;
      this.toAssign = [];
      this.loadCategories();
    }
  },
  created() {
    this.firstTime = true;
    this.toAssign = [];
    this.loadCategories();
  },

  methods: {
    ...mapMutations("guides/categories", ["addCategory"]),
    ...mapMutations("guides", ["setActivePage"]),
    loadCategories() {
      this.options = _.cloneDeep(this.data);
      if (this.activePage.categories)
        this.activePage.categories.map(e => {
          if (!_.find(this.options, eo => eo.id == e.id)) this.options.push(e);
          this.toAssign.push(e.id);
        });
    },
    addProcessToCategory(idCategory) {
      _.find(this.data, e => e.id === idCategory[0]).guides.push(
        this.activePage
      );
    },
    deleteProcessFromCategory(idCategory) {
      let dataCat = _.find(this.data, e => e.id === idCategory[0]);
      let dataIndex = dataCat.guides.findIndex(
        e => e.id === this.activePage.id
      );
      dataCat.guides.splice(dataIndex, 1);
    },
    search: _.debounce(
      function(query) {
        this.searchCategory(query).then(data => {
          data.map(e => {
            this.addCategory(e);
          });
          this.options = this.data.filter(item => {
            return item.name.toLowerCase().indexOf(query.toLowerCase()) > -1;
          });
          this.isSearchingLoading = false;
        });

        return query;
      },
      3000,
      { leading: false, trailing: true }
    ),

    searchRemotely(query) {
      this.options = this.data.filter(
        item => item.name.toLowerCase().indexOf(query.toLowerCase()) > -1
      );
      if (!this.options.length) {
        this.isSearchingLoading = true;
        this.search(query);
      } else {
        this.isSearchingLoading = false;
      }
    },
    assign() {
      this.$emit("loadChangeBox");

      this.$http
        .post(`/api/assign/${this.activePage.id}`, {
          ids: this.toAssign
        })
        .then(({ data }) => {
          this.setActivePage(data);
          this.sync();
          this.$emit("loadChangeBox");
          this.successMessage();
        })
        .catch(e => {
          this.$emit("loadChangeBox");
          this.$message({
            type: "error",
            message: e
          });
        });
    },
    sync() {
      //* sync categories
      let categories = _.filter(this.data, e => this.toAssign.includes(e.id));
      // this.viewSync(categories);
      this.activePage.categories = _.find(
        this.pages,
        e => e.id === this.activePage.id
      ).categories = categories;
    },
    successMessage() {
      this.$message({
        showClose: true,
        type: "success",
        message: "Successfully assigned!"
      });
    },
    searchCategory(query) {
      return new Promise((resolve, reject) => {
        this.$http
          .get(`api/searchByName?query=${query}`)
          .then(({ data }) => {
            resolve(data);
          })
          .catch(e => {
            reject(e);
          });
      });
    },
    clear() {
      this.toAssign = [];
      this.options = _.cloneDeep(this.data);
    }
  }
};
</script>

<style lang="scss">
@import "@/assets/scss/category/_category_styles.scss";
.el-select__tags {
  max-width: calc(100vw) !important;
}
</style>
