<template>
  <div>
    <el-form-item label="Name:">
      <el-input v-model="category.name" placeholder="Ex.: Codes"></el-input>
      <el-form-item label="Is this visible?">
        <el-checkbox v-model="category.is_visible">{{
          category.is_visible ? "Yes" : "No"
        }}</el-checkbox>
      </el-form-item>
    </el-form-item>
    <el-form-item>
      <el-button
        @click="createCategory"
        :disabled="!category.name"
        round
        style="width:40%;"
        >Create</el-button
      >
    </el-form-item>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  name: "Create",
  data() {
    return {
      category: {
        name: "",
        is_visible: 0
      },
      isLoading: false
    };
  },
  methods: {
    ...mapMutations("guides/categories", ["addCategory"]),
    createCategory() {
      this.$emit("loadChangeBox");
      this.$http
        .post("/api/categories", this.category)
        .then(({ data }) => {
          this.$message({
            showClose: true,
            message: `The category "${this.category.name}" was created`,
            type: "success"
          });
          this.addCategory(data);
          this.clear();
          this.$emit("loadChangeBox");

          return data;
        })
        .catch(() => {
          this.$message({
            showClose: true,
            message: "Error when trying to create category",
            type: "error"
          });
          this.$emit("loadChangeBox");
        });
    },
    clear() {
      this.category.name = "";
      this.category.is_visible = false;
    }
  }
};
</script>

<style lang="scss" scoped></style>
