<template>
  <el-form v-model="category">
    <el-form-item v-model="category.id" label="Select:">
      <el-select
        v-model="toUpdate"
        :remote-method="searchRemotely"
        :loading="isSearchingLoading"
        loading-text="Loading..."
        no-data-text="No matching categories"
        filterable
        remote
        placeholder="Ex.: Silver categories"
        style="width:100%"
      >
        <el-option
          v-for="item in options"
          :key="item.id"
          :label="item.name"
          :value="item.id"
          style="width:100%"
        ></el-option>
      </el-select>
    </el-form-item>
    <div v-show="toUpdate">
      <el-form-item label="New name:" style="">
        <el-input v-model="category.name"></el-input>
      </el-form-item>
      <el-form-item :inline="false" label="Is this visible?" style="">
        <el-radio-group v-model="category.is_visible">
          <el-radio :label="true">Yes</el-radio>
          <el-radio :label="false">No</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item> </el-form-item>
      <el-form-item>
        <el-button
          :disabled="updateValidate"
          @click="update"
          :type="updateValidate ? 'primary' : 'info'"
          round
        >
          {{ updateValidate ? "Updated" : "Update it!" }}
        </el-button>

        <!-- <el-button type="danger" class="deleteSect" round>Delete</el-button> -->
      </el-form-item>
      <el-button
        @click="categoryDelete"
        class="deleteSect"
        type="danger"
        round
        size="small"
        icon="el-icon-delete"
        style="position: absolute;
    right: -39px;
    bottom: -29px;
    padding: 8px;"
      ></el-button>
    </div>
  </el-form>
</template>
<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
  name: "Edit",
  data() {
    return {
      isSearchingLoading: false,
      options: [],
      toUpdate: null,
      category: {
        id: 0,
        name: "",
        category_id: null,
        is_visible: 0,
        created_at: "",
        updated_at: "",
        guides: []
      }
    };
  },
  computed: {
    ...mapState("guides/categories", ["data"]),
    ...mapState("guides", ["activePage"]),
    updateValidate() {
      let obj1 = _.find(this.data, e => e.id === this.toUpdate);
      if (typeof obj1 === "undefined") return;
      let obj2 = this.category;
      obj1.is_visible = obj1.is_visible ? true : false;
      obj2.is_visible = obj2.is_visible ? true : false;
      let res = _.isEqual(
        { name: obj1.name, is_visible: obj1.is_visible },
        { name: obj2.name, is_visible: obj2.is_visible }
      );
      return res;
    }
  },

  watch: {
    "category.is_visible"() {},
    toUpdate: {
      handler(newv) {
        if (newv) {
          this.category = _.cloneDeep(_.find(this.data, e => e.id === newv));
        } else {
          this.options = this.data;
        }
      }
    }
  },
  created() {
    this.__init();
  },
  methods: {
    ...mapMutations("guides/categories", [
      "addCategory",
      "setData",
      "deleteFromData"
    ]),
    ...mapMutations("guides", ["setActivePage"]),
    ...mapActions("guides/categories", ["deleteCat"]),
    __init() {
      this.options = this.data;
      // debugger;
    },
    categoryDelete() {
      this.$confirm(
        "This will permanently delete the category. Continue?",
        "Warning",
        {
          confirmButtonText: "OK",
          cancelButtonText: "Cancel",
          type: "warning"
        }
      )
        .then(() => {
          let id = this.category.id;
          this.clear();
          this.$http.delete(`/api/categories/${id}`);
          debugger;
          this.deleteFromData(id);
          this.$message({
            type: "success",
            message: "Delete completed"
          });
          // this.deleteCat({ idCat: id }).then(e => {
          //   console.log("e :", e);
          // });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "Delete canceled"
          });
        });
    },
    search: _.debounce(
      function(query) {
        this.searchCategory(query).then(data => {
          data.map(e => {
            //   if (!_.find(this.data, elOptions => elOptions.id === e.id))
            this.addCategory(e);
          });
          this.options = this.data.filter(item => {
            return item.name.toLowerCase().indexOf(query.toLowerCase()) > -1;
          });
          this.isSearchingLoading = false;
        });

        return query;
      },
      3000,
      { leading: false, trailing: true }
    ),

    searchRemotely(query) {
      this.options = this.data.filter(
        item => item.name.toLowerCase().indexOf(query.toLowerCase()) > -1
      );

      //* Options é zero quando não há opções para se filtrar
      // if (!this.options.length && this.data.length >= 5 && query) {
      if (!this.options.length && query) {
        this.isSearchingLoading = true;
        this.search(query);
      } else {
        this.isSearchingLoading = false;
      }
    },

    searchCategory(query) {
      return new Promise((resolve, reject) => {
        this.$http
          .get(`api/searchByName?query=${query}`)
          .then(({ data }) => {
            resolve(data);
          })
          .catch(e => {
            reject(e);
          });
      });
    },

    update() {
      this.progStart();
      this.$http
        .put(`/api/categories/${this.category.id}`, this.category)
        .then(() => {
          this.updateMessage(this.setCategory());
          this.toUpdate = null;
          this.progDone();
        });
    },
    progStart() {
      this.$nprogress.start();
      this.$emit("loadChangeBox");
    },
    setCategory() {
      let data = this.data;
      let obj = _.find(data, e => e.id === this.toUpdate);
      let { name, is_visible, category_id } = this.category;
      obj.name = name;
      obj.is_visible = is_visible;
      obj.category_id = category_id;
      this.setData(data);
      return obj;
    },
    progDone() {
      this.$nprogress.done();
      this.$emit("loadChangeBox");
    },
    clear() {
      // debugger;
      //! you gotta be kidding me!!!!!!
      this.toUpdate = null;
      // this.options = this.data;
      // this.category.id = 0;
    },
    updateMessage(obj) {
      const h = this.$createElement;
      this.$notify({
        title: "Updated",
        message: h(
          "i",
          { style: "color: teal" },
          `The category ${obj.name} was updated`
        )
      });
    }
  }
};
</script>
label
<style lang="scss" scoped>
.deleteSect {
  background-color: rgba(193, 33, 38, 1);
}

.deleteSect:hover {
  background-color: rgba(193, 33, 38, 0.6) !important;
}

.el-input {
  width: 100%;
}
</style>
