@mixin _default_styles {
  //   $flw-primary: rgba(136, 173, 176, 1);
  //   $flw-light-blue: rgba(146, 211, 211, 1);
  //   $flw-secondary: rgba(82, 88, 90, 1);
  //   $flw-gray: rgba(116, 136, 138, 1);
  //   $flw-info: rgba(42, 102, 102, 1);
  //   $flw-dark-green-2: rgba(44, 91, 98, 1);
  //   $flw-dark-green-3: rgba(48, 97, 100, 1);
  //   $flw-success: rgba(56, 193, 115, 1);
  //   $flw-danger: rgba(193, 33, 38, 1);
  //   $flw-warning: rgba(200, 167, 45, 1);
  //   $flw-very-light-blue: rgb(104, 202, 217);

  //   // sup.el-badge__content--primary {
  //   //   background-color: $flw-very-light-blue;
  //   // }

  //   .el-breadcrumb__inner.is-link:hover {
  //     color: $flw-light-blue;
  //   }

  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }

  //   .solido {
  //     background-color: rgba(136, 173, 176, 1);
  //   }

  .el-button:focus,
  .el-button:hover {
    color: white;
    background-color: rgba(136, 173, 176, 0.9);
  }

  //   .el-button {
  //     color: white;
  //     background-color: rgba(136, 173, 176, 1);
  //   }

  //   div>div.el-slider__bar {
  //     background-color: rgba(146, 211, 211, 1) !important;
  //   }

  //   div.el-slider__button-wrapper>div {
  //     border-color: rgba(146, 211, 211, 1) !important;
  //   }

  //   #pane-properties>div>form>div:nth-child(12)>button {
  //     border-color: rgba(136, 173, 176, 1);
  //     background-color: $flw-success;
  //   }

  //   .el-switch.is-checked .el-switch__core {
  //     background-color: $flw-success;
  //     border-color: $flw-dark-green-3;
  //   }

  //   .el-tabs--border-card>.el-tabs__header .el-tabs__item:not(.is-disabled):hover {
  //     color: rgba(136, 173, 176, 1);
  //   }

  //   .el-tooltip__popper.is-dark {
  //     background: $flw-dark-green-3;
  //   }

  //   #pane-properties>div>form>div.el-dialog__wrapper>div>div.el-dialog__body>form>div>div:nth-child(4)>div>div:nth-child(3)>button {
  //     border-color: $flw-primary;
  //   }

  //   #pane-properties>div>form>div.el-dialog__wrapper>div>div.el-dialog__body>form>div>div:nth-child(4)>div>div>div>div>div>div>label.el-radio-button.is-active>span {
  //     background-color: $flw-info;
  //   }

  //   .el-tabs__item.is-active {
  //     color: $flw-very-light-blue;
  //   }

  //   .el-tabs__active-bar {
  //     background-color: $flw-info;
  //   }

  //   .el-tabs__item:hover {
  //     color: $flw-primary;
  //   }

  //   aside>div {
  //     border-radius: 15px;
  //   }

  //   aside>div>div.el-tabs__header.is-top {
  //     border-radius: 15px 15px 0 0 !important;
  //   }

  //   aside>div>div.el-tabs__header.is-top {
  //     border-radius: 15px;
  //   }

  //   #tab-properties {
  //     border-radius: 0 0 0 0;
  //   }

  //   .el-radio-button__inner:hover {
  //     color: $flw-primary;
  //   }

  //   .el-step__head.is-success {
  //     border-color: $flw-success !important;
  //   }

  //   .el-step__title.is-success {
  //     color: $flw-success;
  //   }

  //   .el-radio-button:first-child .el-radio-button__inner {
  //     border: 1px solid #dcdfe6;
  //   }

  //   .el-radio-button:first-child:hover .el-radio-button__inner:hover {
  //     border: 1px solid $flw-success;
  //   }

  //   #pane-properties>div>form>div.el-dialog__wrapper>div>div.el-dialog__body>form>div>div:nth-child(4)>div>div>div>div>div>div>label:nth-child(2)>span:hover {
  //     border: 1px 1px 1px 0;
  //     // border-color: $flw-success;
  //   }

  //   #tab-elements {
  //     border-top-left-radius: 15px;
  //   }

  //   #tab-category {
  //     border-top-left-radius: 15px;
  //   }





  //   #tab-roles {
  //     border-top-right-radius: 14px;
  //     width: 105px;
  //   }

  //   .el-loading-spinner .path {
  //     stroke: black;
  //   }

}

@include _default_styles;