#pane-Design
  > div
  > section
  > div
  > div.el-col.el-col-24.el-col-xs-24.el-col-sm-24.el-col-md-4.el-col-lg-7.el-col-xl-5
  > button.el-button.el-button--primary.el-button--medium.is-round {
  border-color: unset;
}
.deleteSect {
  background-color: #c12126;
}
.deleteSect:hover {
  background-color: rgba(193, 33, 38, 0.6) !important;
}
#moveBotao {
  right: 0px;
}
.empty-section {
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  background: linear-gradient(to bottom, #fff, black);
  -webkit-text-fill-color: transparent;
}
.dragArea {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  min-height: calc(60vh);
  height: 100%;
  padding: 0 10px;
}
.el-main-left {
  height: calc(70vh);
}
.form__selectedlabel {
  display: none;
  background: #ecf5ff;
  padding: 3px 5px;
  color: black;
  font-size: 10px;
  position: absolute;
  top: -17px;
  right: 15px;
}
.form__actionitem--move {
  position: absolute;
  right: -14px;
  transform: translateY(-50%);
  visibility: hidden;
}
.form__actionitem--move:active,
.form__actionitem--move:focus,
.form__actionitem--move:hover {
  border-color: #409eff;
  background: #ecf5ff;
}
.form__actionlist {
  position: absolute;
  margin-top: 10px;
  visibility: hidden;
  left: 0;
  border-radius: 2px;
}
.form__group:hover {
  border: 1px solid transparent;
  border-color: #409eff;
}
.form__group {
  border: 1px solid transparent;
  position: relative;
}
.form__group:hover .form__actionitem--move {
  visibility: visible;
  top: 50%;
}
.form__group.is--active {
  border-color: #409eff;
  z-index: 10;
}
.form__group.is--active .form__actionlist {
  visibility: visible;
}
.form__group.is--active .form__actionlist {
  visibility: visible;
}
.form__group.is--active .form__selectedlabel {
  display: inline-block;
}
.section-block {
  border: 2px solid #ebebeb;
  border-radius: 3px;
  margin: 10px 0;
  overflow: unset !important;
}
.section-block .source {
  padding: 10px;
}
.section-block .meta {
  background-color: #fafafa;
  border-top: 1px solid #eaeefb;
}
.wrapper--sidebar .el-tabs__nav .el-tabs__item {
  width: 50% !important;
}
.el-tabs__content {
  height: calc(89vh) !important;
}
.wrapper--sidebar {
  padding: 5px;
}
.wrapper--forms {
  padding: 20px;
  height: 85%;
}
.home > * {
  overflow: hidden;
}
.section-block {
  -webkit-box-shadow: -1px -1px 55px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px -1px 55px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 14px 7px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}
