body {
  font-family: "Roboto", monospace;
}
.app-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.el-main {
  padding: 0;
  overflow: hidden;
}
.wrapper--snippet {
  height: 19vh;
  background: #6cf2ce;
  overflow: auto;
}
.wrapper--snippet pre {
  padding: 20px;
  color: #6cf2ce;
  line-height: 1.3;
}
.wrapper--forms {
  padding: 0 30px;
  position: relative;
  height: 90%;
  overflow: auto;
}
.wrapper--sidebar {
  padding: 30px;
}
.wrapper--sidebar .el-tabs {
  min-height: 223px;
  border-bottom: 0;
}
.wrapper--sidebar .el-tabs__header {
  margin-bottom: 0;
}
.wrapper--sidebar .el-tabs__content {
  padding: 0;
}
.wrapper--sidebar .el-tabs__inner {
  padding: 20px;
}
.wrapper--sidebar .el-tabs__nav {
  float: none;
}
.wrapper--sidebar .el-tabs__nav .el-tabs__item {
  width: 33.33%;
  text-align: center;
}
.el-input-number {
  width: auto !important;
}
.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: auto !important;
}
.preview__wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.el-form-item {
  padding: 10px;
  margin-bottom: 0;
}
