body {
    font-family: "Roboto", monospace;
}

.app-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.el-main {
    padding: 0;
    overflow: hidden;
}

.wrapper--snippet {
    height: 19vh;
    background: #6cf2ce;
    overflow: auto;

    pre {
        padding: 20px;
        color: #6cf2ce;
        line-height: 1.3;
    }
}

// Forms

.wrapper--forms {
    padding: 0 30px;
    position: relative;
    height: 90%;
    overflow: auto;
}

// Sidebar

.wrapper--sidebar {
    padding: 30px;

    .el-tabs {
        min-height: 223px;
        border-bottom: 0;
    }

    .el-tabs__header {
        margin-bottom: 0;
    }

    .el-tabs__content {
        padding: 0;
    }

    .el-tabs__inner {
        padding: 20px;
        // margin-bottom: -8%;
    }

    .el-tabs__nav {
        float: none;

        .el-tabs__item {
            width: 33.33%;
            text-align: center;
        }
    }

    .el-tabs--border-card {
        // border: 1px solid gray;
    }

    .el-form-item__label {
        // line-height: 1;
    }
}

.el-input-number {
    width: auto !important;
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
    width: auto !important;
}

// Preview
.preview__wrapper {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.el-form-item {
    padding: 10px;
    margin-bottom: 0;
}