<template>
  <el-aside
    class="wrapper--sidebar"
    width="100%"
    style="height:100%;position: relative;top: 27px;margin-bottom: 67px;"
  >
    <el-tabs
      v-loading="isLoading"
      v-model="optionsActiveField"
      type="border-card"
    >
      <el-tab-pane name="category" label="Category" style="margin:0 10px">
        <category @loadChangeBox="loadChangeBox" class="tweak" />
      </el-tab-pane>
      <el-tab-pane
        name="roles"
        label="Roles"
        style="margin:0 10px; border-top-right-radius:14px;"
      >
        <roles @loadChangeBox="loadChangeBox" class="tweak" />
      </el-tab-pane>
    </el-tabs>
  </el-aside>
</template>
<script>
import Category from "./process_page_options/Category";
import Roles from "./process_page_options/Roles";
import { mapState } from "vuex";
export default {
  name: "HomeOption",
  components: {
    Category,
    Roles
  },
  props: {},
  data() {
    return {
      drawer: false,
      loading: false,
      isLoading: false,
      optionsActiveField: "category",
      formLabelWidth: "80px",
      timer: null
    };
  },
  computed: {
    categoryNames() {
      let names = "";
      let categories = _.cloneDeep(this.activePage.categories);
      for (let category of categories.slice(0, 3)) {
        names += category.name + ", ";
      }
      names = names.slice(0, names.length - 2);
      categories.length > 3 ? (names += "...") : "";
      return names;
    },
    ...mapState("guides", ["activePage"])
  },
  watch: {},
  created() {},
  mounted() {},
  beforeDestroy() {},
  destroyed() {},
  methods: {
    handleClose(done) {
      this.$message.info("Saved");
      done();
    },
    loadChangeBox() {
      this.isLoading = !this.isLoading;
    }
  }
};
</script>

<style scoped>
.tweak {
  margin: 30px;
}
#pane-Design
  > div
  > section
  > div
  > div.el-col.el-col-24.el-col-xs-24.el-col-sm-24.el-col-md-14.el-col-lg-7.el-col-xl-4
  > aside
  > div:nth-child(2)
  > button {
  background: rgb(104, 202, 217);
}
</style>
