<template>
  <el-aside
    class="wrapper--sidebar"
    width="100%"
    style="height:100%;
              position: relative;
              top: 27px;"
  >
    <el-tabs
      :value="activeTabForFields"
      @input="updateActiveTabForFields"
      type="border-card"
    >
      <el-tab-pane v-if="!dontShowToolTip" name="elements" label="Elements">
        <elements />
      </el-tab-pane>

      <el-tab-pane name="properties" label="Properties" style>
        <properties
          :id="id"
          v-show="Object.keys(activeField).length > 0"
          :resetFields="resetFields"
        ></properties>
      </el-tab-pane>
    </el-tabs>
  </el-aside>
</template>
<script>
import { FormBuilder } from "@/components/form_elements/formbuilder";
import { mapState, mapMutations } from "vuex";
export default {
  name: "FieldOptions",
  components: {
    ...FormBuilder.$options.components
  },
  props: {
    id: {
      type: String,
      default: "1"
    },
    dontShowToolTip: {
      type: Boolean,
      default: () => false
    }
  },
  data() {
    return {};
  },
  computed: {
    ...mapState("guides", ["activeTabForFields", "activeField"])
  },
  watch: {},
  created() {},
  mounted() {},
  beforeDestroy() {},
  destroyed() {},
  methods: {
    ...mapMutations("guides", ["setActiveTabForFields", "setActiveField"]),
    updateActiveTabForFields(e) {
      this.setActiveTabForFields(e);
    },
    resetFields() {
      this.setActiveField([]);
      this.setActiveTabForFields("elements");
    }
  }
};
</script>

<style></style>
