<template>
  <el-form :inline="true" :model="formInline" class="demo-form-inline">
    <new-section />
    <update-page />
    <visible />
  </el-form>
</template>
<script>
import NewSection from "@/components/home_components/main_buttons/NewSection";
import UpdatePage from "@/components/home_components/main_buttons/UpdatePage";
import Visible from "@/components/home_components/main_buttons/Visible";
export default {
  name: "Buttons",
  components: {
    NewSection,
    UpdatePage,
    Visible
  },
  props: {},
  data() {
    return {
      formInline: {
        user: "",
        region: ""
      }
    };
  },
  computed: {},
  watch: {},
  created() {},
  mounted() {},
  beforeDestroy() {},
  destroyed() {},
  methods: {}
};
</script>

<style scoped>
/* .el-form-item {
    padding: 0px;
    margin-bottom: 0;
} */
</style>