<template>
  <div class="mobile-options">
    <el-menu
      @open="handleOpen"
      @close="handleClose"
      :collapse="true"
      default-active="2"
      class="el-menu-vertical-demo"
    >
      <el-submenu index="1">
        <template slot="title">
          <i class="el-icon-setting"></i>
          <span slot="title">Navigator One</span>
        </template>
        <el-menu-item-group>
          <span slot="title">Draggable</span>
          <el-menu-item index="1-1">
            <mobile-elements></mobile-elements>
          </el-menu-item>
        </el-menu-item-group>
      </el-submenu>
    </el-menu>
  </div>
</template>

<style>
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
}
.el-menu--vertical {
  top: 157px;
  left: 464px !important;
  z-index: 2026;
}
.el-menu {
  background-color: rgb(250, 250, 250);
  border-right: unset;
  margin: -7px 5px;
  padding: unset;
}
/* .mobile-options {
  z-index: 9;
  position: fixed;
  top: 16%;
  right: 33px;
} */
</style>

<script>
import MobileElements from "./mob_options/MobileElements";
export default {
  components: {
    MobileElements
  },
  data() {
    return {
      isCollapse: true
    };
  },
  methods: {
    handleOpen(key, keyPath) {
      // console.log(key, keyPath);
      return { key, keyPath };
    },
    handleClose(key, keyPath) {
      // console.log(key, keyPath);
      return { key, keyPath };
    }
  }
};
</script>
