<template>
  <div class="GuideMenuCard">
    <el-row
      :gutter="50"
      v-for="(categories, index) in visiblesCategoriesTable()"
      :key="index"
    >
      <el-col
        :span="8"
        v-for="(category, procIndex) in categories"
        :key="procIndex"
      >
        <el-card
          :body-style="{
            padding: 10 + 'px',
            height: '90%',
            'vertical-align': 'middle'
          }"
          width="200px"
          style="height: 200px; margin-top: 20px; padding: auto 0;"
        >
          <el-row>
            <el-col :span="4" class="icon-mes" style="height: 40px;">
              <div
                style="margin: -42% 0% -12px 0px;padding: 0px; font-size: 45px; float:left;"
              >
                <span>
                  <i class="el-icon-chat-round text-muted"></i>
                </span>
              </div>
            </el-col>
            <el-col :span="16">
              <!-- Wrong! -->

              <el-tooltip
                :content="category.name"
                :disabled="!(category.name.length > 13)"
                placement="top-start"
                class="item"
                effect="dark"
              >
                <h1
                  style="padding-top: 0;margin: 0;color: rgba(136, 173, 176, 1);"
                >
                  {{
                    category.name.length > 13
                      ? category.name.slice(0, 13) + "..."
                      : category.name
                  }}
                </h1>
              </el-tooltip>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-divider>
                <i class="el-icon-link"></i>
              </el-divider>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <div style="height: 90%;">
                <el-row>
                  <el-col :span="24">
                    <div
                      style="float: left; color: rgb(108, 117, 125);text-align: initial;"
                    >
                      <!-- //TODO: FILTER VISIBLES FROM GUIDES AND CATEGORIES -->
                      <ul style="font-size:14px; margin: 5px 0 0 0;">
                        <template>
                          <div
                            v-for="(guide, guideIndex) in guidesFilter(
                              category.guides
                            )"
                            :key="guideIndex"
                          >
                            <!-- v-if="
                                field.hasOwnProperty('link') &&
                                  field.fieldType === 'Button' &&
                                  field.link === true" -->
                            <li
                              @click="goToProcess(guide.id.toString())"
                              style="cursor: pointer;z-index: 4;"
                            >
                              {{ guide.name }}
                            </li>
                          </div>
                        </template>
                      </ul>
                    </div>
                  </el-col>
                  <div
                    v-show="calcLinks(category)"
                    style="font-size: 20px; position: absolute;left: 45%;top: 120px;"
                  >
                    <i class="el-icon-more-outline"></i>
                  </div>
                </el-row>
              </div>
            </el-col>
          </el-row>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>
<script>
import { mapMutations, mapState } from "vuex";

export default {
  name: "GuideMenuCard",
  components: {},
  props: {
    pages: {
      type: Array,
      required: false,
      default: () => []
    },
    goToProcess: {
      type: Function,
      required: false,
      default: () => null
    }
  },
  computed: {
    ...mapState("guides/categories", ["data"]),
    ...mapState("guides", ["activePage"])
  },
  watch: {
    "activePage.visible"(newv) {
      this.data.forEach(elementc => {
        if (elementc.guides.find(eg => eg.id === this.activePage.id))
          elementc.guides.find(
            eg => eg.id === this.activePage.id
          ).visible = newv;
      });
    }
  },

  /**
   * ? Question
   * ! Warn
   * TODO: todo things
   * * Highlight
   * @param someParam Param Description
   */

  methods: {
    ...mapMutations("guides", ["addToBreadcrumb"]),
    guidesFilter(guides) {
      return guides.filter(e => e.visible);
    },
    visiblesCategoriesTable() {
      let chunked,
        chunk = 3,
        show = [];
      let data = this.data.filter(e => e.is_visible);

      for (let i = 0, j = this.data.length; i < j; i += chunk) {
        chunked = data.slice(i, i + chunk);
        show.push(chunked);
      }
      return show;
    },
    calcLinks(category) {
      // let count = 0;
      // console.log("category :", category);
      // if (category.guides.length)
      //   category.guides.forEach(() => {
      //     count++;
      //   });
      // return count > 6;
      return category;
    }
  }
};
</script>

<style scoped>
.icon-mes {
  margin-top: auto;
  overflow: hidden;
}
.text-muted {
  color: rgb(108, 117, 125);
  font-size: 35px;
  margin: 62% 0 0px 0;
}
.el-row {
  margin-bottom: 0px;
}
.el-divider--horizontal {
  margin: 10px 0 10px 0;
}
</style>
