<template>
  <div v-loading="isLoading" sclass="Category">
    <el-row>
      <el-col :span="24">
        <el-form
          :model="form"
          :label-position="labelPosition"
          style="width:100%"
          label-width="100px"
        >
          <el-form-item label>
            <el-radio-group
              @change="clear"
              v-model="option"
              style="width:100%; text-align:center;"
            >
              <el-row>
                <el-col :span="8">
                  <el-radio :label="'assign'">Assign</el-radio>
                </el-col>
                <el-col :span="8">
                  <el-radio :label="'edit'">Edit</el-radio>
                </el-col>
                <el-col :span="8">
                  <el-radio :label="'create'">Create</el-radio>
                </el-col>
              </el-row>
            </el-radio-group>
          </el-form-item>
          <assign
            ref="assign"
            v-show="option === 'assign'"
            @loadChangeBox="loadChangeBox"
            @init="init"
          />
          <create
            ref="create"
            v-show="option === 'create'"
            @loadChangeBox="loadChangeBox"
          />
          <edit
            ref="edit"
            v-show="option === 'edit'"
            @loadChangeBox="loadChangeBox"
          />
        </el-form>
      </el-col>
    </el-row>
  </div>
</template>
<script>
import Create from "./CategoryOptions/Create";
import Assign from "./CategoryOptions/Assign";
import Edit from "./CategoryOptions/Edit";
export default {
  name: "Category",
  components: {
    Create,
    Assign,
    Edit
  },
  data() {
    return {
      option: "",
      isLoading: false,
      labelPosition: "top",
      form: {},
      radio: "create"
    };
  },
  methods: {
    loadChangeBox() {
      this.isLoading = !this.isLoading;
    },
    clear() {
      this.$refs.create.clear();
      // this.$refs.assign.clear();
    },
    init() {
      this.$refs.edit.__init();
    }
  }
};
</script>
