<template>
  <div class="ClassName">
    <el-row>
      <h1>Building...</h1>
      <!-- <el-col :span="24">
        <el-radio-group v-model="radio">
          <h1>Who can edit this?</h1>
          <el-radio :label="'create'">Create</el-radio>
          <el-radio :label="'choose'">Choose</el-radio>
        </el-radio-group>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="24">
        <el-input v-model="form.name" v-if="radio === 'create'" placeholder="Category name"></el-input>
        <el-select v-if="radio === 'choose'" v-model="value" style="width:inherit;" filterable placeholder="Choose">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
      </el-col> -->
    </el-row>
  </div>
</template>
<script>
export default {
  name: "TiptapEditor",
  components: {},
  props: {},
  data() {
    return { radio: null };
  },
  computed: {},
  watch: {},
  created() {},
  mounted() {},
  beforeDestroy() {},
  destroyed() {},
  methods: {}
};
</script>

<style></style>
