<template>
  <div class="el-tabs__inner">
    <el-row :gutter="20" class="row-bg" style="border-radius:20px;padding:30px 40px;">
      <draggable
        :list="fields"
        :clone="clone"
        :group="{ name:'formbuilder', pull:'clone', put:false }"
        :sort="false"
        class="dragArea"
        style="height:inherit;"
      >
        <el-col
          :span="24"
          :class="{ 'is-disabled': checkStopDragCondition(field) }"
          v-for="(field, index) in fields"
          :key="index"
        >
          <el-button v-if="!uploadQtt(field)" class="button__sidebar solido" >{{ field.text }}</el-button>
        </el-col>
      </draggable>
    </el-row>
  </div>
</template>

<script>
import { FormBuilder } from "./formbuilder.js";
import draggable from "vuedraggable";
import { mapGetters } from "vuex";

export default {
  name: "Elements",
  components: {
    draggable
  },
  data() {
    return {
      fields: FormBuilder.$data.fields,
      dropElementOptions: FormBuilder.$data.dropElementOptions
    };
  },
  computed: {
    ...mapGetters("guides", {
      forms: "getPages",
      activePage: 'getActivePage'
    }),
    countIt() {
      let count = 0;
      for (let i = 0; i < this.activePage.builder.length; i++) {
        this.activePage.builder[i].fields.map(e => {
          if (e.hasOwnProperty("image")) count++;
        });
      }
      return count;
    }
  },
  methods: {
    clone(field) {
      return _.cloneDeep(field);
    },
    uploadQtt(field){
      return field.fieldType === 'Upload' && this.countIt  >= 4
    },
    checkStopDragCondition(field) {
      var form = this.forms,
        formArray = [];
      for (var key in form) {
        formArray.push(form[key]["fieldType"]);
      }
      // Check if the fieldname exist in formArray
      // And when the field.isUnique too
      return _.includes(formArray, field.name) && field.isUnique;
    }
  }
};
</script>

<style lang="scss" scoped>
.button__sidebar {
  width: 100%;
  margin: 3px 0;

  .is-disabled & {
    opacity: 0.4;
  }
}

.sortable__ghost {
  position: relative;
  width: 16.66667%;
  border-bottom: 2px solid #3a8ee6;
  margin-top: 2px;
  margin-bottom: 2px;

  [type="button"] {
    display: none;
  }

  &:before {
    content: "Drag it here";
    background-color: #ecf5ff;
    color: #3a8ee6;
    position: absolute;
    left: 50%;
    font-size: 10px;
    border-radius: 10px;
    line-height: 15px;
    padding: 0 10px;
    top: -6px;
    transform: translateX(-50%);
  }
}
</style>
