<template>
  <div class="editor">
    <editor-menu-bubble
      :editor="editor"
      :keep-in-bounds="keepInBounds"
      v-slot="{ commands, isActive, menu }"
    >
      <div
        :class="{ 'is-active': menu.isActive }"
        :style="`left: ${menu.left}px; bottom: ${menu.bottom}px;`"
        class="menububble"
      >
        <button
          :class="{ 'is-active': isActive.bold() }"
          @click="commands.bold"
          class="menububble__button"
        >
          <font-awesome-icon icon="bold" size="lg" />
        </button>

        <button
          :class="{ 'is-active': isActive.italic() }"
          @click="commands.italic"
          class="menububble__button"
        >
          <font-awesome-icon icon="italic" size="lg" />
        </button>

        <button
          :class="{ 'is-active': isActive.strike() }"
          @click="commands.strike"
          class="menububble__button"
        >
          <font-awesome-icon :icon="['fas', 'strikethrough']" size="lg" />
        </button>
        <button
          :class="{ 'is-active': isActive.underline() }"
          @click="commands.underline"
          class="menububble__button"
        >
          <font-awesome-icon :icon="['fas', 'underline']" size="lg" />
        </button>
      </div>
    </editor-menu-bubble>
    <editor-content :editor="editor" class="editor__content" />
  </div>
</template>

<script>
import { Editor, EditorContent, EditorMenuBubble } from "tiptap";
import { Placeholder } from "tiptap-extensions";
import Doc from "./helpers/Doc";
import Title from "./helpers/Title";
import {
  Heading,
  HorizontalRule,
  Bold,
  Italic,
  Strike,
  Underline,
  History
} from "tiptap-extensions";
import fontawesome from "@fortawesome/fontawesome";
import solid from "@fortawesome/fontawesome-free-solid";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
fontawesome.library.add(solid);

export default {
  components: {
    EditorContent,
    FontAwesomeIcon,
    EditorMenuBubble
  },
  props: ["currentField"],
  data() {
    return {
      editor: null,
      keepInBounds: true
    };
  },
  mounted() {
    this.editor = new Editor({
      onUpdate: ({ getHTML }) => {
        this.currentField.content = getHTML();
      },
      content:
        this.currentField.content !== null ? this.currentField.content : "",
      autoFocus: true,
      extensions: [
        new Doc(),
        new Title(),
        new Heading(),
        new HorizontalRule(),
        new Bold(),
        new Italic(),
        new Strike(),
        new Underline(),
        new History(),
        new Placeholder({
          showOnlyCurrent: false,
          emptyNodeText: node => {
            if (node.type.name === "title") {
              return "Give me a title";
            }
            return "Give me a subtitle";
          }
        })
      ]
    });
  },
  beforeDestroy() {
    this.editor.destroy();
  }
};
</script>

<style lang="scss">
.editor *.is-empty:nth-child(1)::before,
.editor *.is-empty:nth-child(2)::before {
  content: attr(data-empty-text);
  float: left;
  color: #aaa;
  pointer-events: none;
  height: 0;
  font-style: italic;
}
</style>