<template>
  <!-- <el-form-item :label-width="currentField.labelWidth + 'px'"> -->
  <el-button
    :class="{ transparent: currentField.transparent }"
    :style="
      'font-size: ' +
        currentField.fontSize * 0.2 +
        'vw;' +
        'height: ' +
        (currentField.height !== undefined ? currentField.height : 0) * 10 +
        'px;'
    "
    class="form__button btn-style"
    >{{ currentField.buttonText }}</el-button
  >
  <!-- </el-form-item> -->
</template>

<script>
export default {
  name: "Button",
  props: ["currentField"]
};
</script>
<style scoped>
.el-form-item__content {
  margin-left: 0px;
}
.form__button {
  padding: 0px;
}
.btn-style {
  color: white;
  margin: 0 0 0 0px;
  float: right;
  width: 100%;
  height: 100%;
  background-color: rgba(136, 173, 176, 1);
}
.el-button:active {
  color: white;
  border-color: white;
}
.transparent {
  opacity: 0;
}
</style>
