<template>
  <div class="historyBar">
    <el-card class="box-card" style="border-radius:50px; margin-top:10px">
      <el-breadcrumb separator="/">
        <template v-for="(page,index) in current">
          <el-breadcrumb-item
            :key="index"
            v-if="page.id != activePage.id"
            :to="{ path: '/guide/' + page.id }"
            style="font-size:15px;cursor:pointer;color:#303133 !important;font-weight: bold;text-align:center;"
          >{{page.name}}</el-breadcrumb-item>
          <el-breadcrumb-item
            :key="index"
            v-else
            style="font-size:15px;font-weight: bold;"
          >{{page.name}}</el-breadcrumb-item>
        </template>
      </el-breadcrumb>
    </el-card>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      activeCount: 0,
      current: [],
      array: []
    };
  },
  computed: {
    ...mapGetters("guides", {
      pages: "getPages",
      activePage: "getActivePage",
      breadcrumb: "getBreadcrumb"
    }),
    actualIndexBreadcrumb() {
      return _.findIndex(this.breadcrumb, e => e.id === this.activePage.id);
    },
    lastIndexBreadcrumb() {
      return _.findLastIndex(this.breadcrumb);
    }
  },
  watch: {
    breadcrumb(newv) {
      if (newv != undefined) {
        this.pagination(this.actualIndexBreadcrumb, this.lastIndexBreadcrumb);
      }
    }
  },
  created() {
    this.pagination(this.actualIndexBreadcrumb, this.lastIndexBreadcrumb);
  },
  methods: {
    pagination(c, m) {
      var current = c,
        last = m,
        delta = 3,
        left = current - delta,
        range = [],
        rangeWithDots = [];
      for (let i = 0; i <= last; i++) {
        if (i == 0 || i >= left) {
          range.push(this.breadcrumb[i]);
        }
      }
      for (const [key, value] of Object.entries(range)) {
        if (this.breadcrumb.length >= 6 && key === String(1)) {
          rangeWithDots.push({
            name: "...",
            id: this.breadcrumb[this.breadcrumb.length - 5].id
          });
        }
        rangeWithDots.push(value);
      }
      this.current = rangeWithDots;
    }
  }
};
</script>

<style>
.el-breadcrumb__inner {
  color: #f800ff;
  font-weight: unset;
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner {
  color: rgba(193, 33, 38, 1);
  font-weight: unset;
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
  font-weight: unset;
  color: rgb(146, 211, 211);
  cursor: pointer;
}
.el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
  color: rgb(146, 211, 211);
}
.historyBar {
  padding: 0px 20px;
  margin-bottom: 11px;
}
.el-step__title {
  margin-right: -11px;
}
.el-step__title.is-wait {
  margin-right: -11px;
}
</style>