<template>
  <div
    class="editor"
    style="background-color:white; z-index:-1; border-radius:10px;"
  >
    <editor-menu-bar :editor="editor" v-slot="{ commands, isActive }">
      <div class="menubar">
        <button @click="commands.undo" class="menubar__button">
          <font-awesome-icon :icon="['fas', 'undo']" size="1x" />
        </button>

        <button @click="commands.redo" class="menubar__button">
          <font-awesome-icon :icon="['fas', 'redo']" size="1x" />
        </button>
        <button
          :class="{ 'is-active': isActive.bold() }"
          @click="commands.bold"
          class="menubar__button"
        >
          <font-awesome-icon :icon="['fas', 'bold']" size="1x" />
        </button>

        <button
          :class="{ 'is-active': isActive.italic() }"
          @click="commands.italic"
          class="menubar__button"
        >
          <font-awesome-icon :icon="['fas', 'italic']" size="1x" />
        </button>

        <button
          :class="{ 'is-active': isActive.strike() }"
          @click="commands.strike"
          class="menubar__button"
        >
          <font-awesome-icon :icon="['fas', 'strikethrough']" size="1x" />
        </button>

        <button
          :class="{ 'is-active': isActive.underline() }"
          @click="commands.underline"
          class="menubar__button"
        >
          <font-awesome-icon :icon="['fas', 'underline']" size="1x" />
        </button>

        <button
          :class="{ 'is-active': isActive.code() }"
          @click="commands.code"
          class="menubar__button"
        >
          <font-awesome-icon :icon="['fas', 'code']" size="1x" />
        </button>

        <button
          :class="{ 'is-active': isActive.paragraph() }"
          @click="commands.paragraph"
          class="menubar__button"
        >
          <font-awesome-icon :icon="['fas', 'paragraph']" size="1x" />
        </button>

        <button
          :class="{ 'is-active': isActive.heading({ level: 1 }) }"
          @click="commands.heading({ level: 1 })"
          class="menubar__button"
          style="font-size:15px"
        >
          <b>H1</b>
        </button>

        <button
          :class="{ 'is-active': isActive.heading({ level: 2 }) }"
          @click="commands.heading({ level: 2 })"
          class="menubar__button"
          style="font-size:13px"
        >
          H2
        </button>

        <button
          :class="{ 'is-active': isActive.heading({ level: 3 }) }"
          @click="commands.heading({ level: 3 })"
          class="menubar__button"
          style="font-size:11px"
        >
          H3
        </button>

        <button
          :class="{ 'is-active': isActive.bullet_list() }"
          @click="commands.bullet_list"
          class="menubar__button"
        >
          <font-awesome-icon :icon="['fas', 'list-ul']" size="1x" />
        </button>

        <button
          :class="{ 'is-active': isActive.ordered_list() }"
          @click="commands.ordered_list"
          class="menubar__button"
        >
          <font-awesome-icon :icon="['fas', 'list-ol']" size="1x" />
        </button>

        <button
          :class="{ 'is-active': isActive.blockquote() }"
          @click="commands.blockquote"
          class="menubar__button"
        >
          <font-awesome-icon :icon="['fas', 'quote-right']" size="1x" />
        </button>

        <button
          :class="{ 'is-active': isActive.code_block() }"
          @click="commands.code_block"
          class="menubar__button"
        >
          <font-awesome-icon :icon="['fas', 'chevron-left']" size="1x" />
          <font-awesome-icon :icon="['fas', 'chevron-right']" size="1x" />
        </button>

        <button @click="commands.horizontal_rule" class="menubar__button">
          <font-awesome-icon :icon="['fas', 'minus']" size="1x" />
        </button>
        <div class="menubar__button">
          <el-upload
            :file-list="fileList"
            :on-success="putImage"
            :show-file-list="false"
            :limit="3"
            :on-exceed="onExceed"
            accept="image/tiff, image/jpeg, image/jpg, image/gif, image/png"
            class="upload-demo"
            action="https://jsonplaceholder.typicode.com/posts/"
            list-type="picture"
          >
            <div>
              <i class="el-icon-picture-outline"></i>
            </div>
          </el-upload>
        </div>
        <br />
      </div>
    </editor-menu-bar>
    <editor-menu-bubble
      :editor="editor"
      :keep-in-bounds="keepInBounds"
      v-slot="{ commands, isActive, menu }"
    >
      <div
        :class="{ 'is-active': menu.isActive }"
        :style="`left: ${menu.left}px; bottom: ${menu.bottom}px;`"
        class="menububble"
      >
        <button
          :class="{ 'is-active': isActive.bold() }"
          @click="commands.bold"
          class="menububble__button"
        >
          <font-awesome-icon icon="bold" size="1x" />
        </button>

        <button
          :class="{ 'is-active': isActive.italic() }"
          @click="commands.italic"
          class="menububble__button"
        >
          <font-awesome-icon icon="italic" size="1x" />
        </button>

        <button
          :class="{ 'is-active': isActive.code() }"
          @click="commands.code"
          class="menububble__button"
        >
          <font-awesome-icon icon="code" size="1x" />
        </button>
      </div>
    </editor-menu-bubble>
    <editor-content :editor="editor" class="editor__content"></editor-content>
  </div>
</template>

<script>
import { Editor, EditorContent, EditorMenuBar, EditorMenuBubble } from "tiptap";
import {
  Blockquote,
  CodeBlock,
  HardBreak,
  Heading,
  HorizontalRule,
  OrderedList,
  BulletList,
  ListItem,
  TodoItem,
  TodoList,
  Bold,
  TrailingNode,
  Code,
  Italic,
  Strike,
  Underline,
  History,
  Image,
  Link
} from "tiptap-extensions";

import Iframe from "./helpers/Iframe.js";

export default {
  components: {
    EditorContent,
    EditorMenuBar,
    EditorMenuBubble
  },
  props: {
    currentField: { type: Object, default: () => ({}) }
  },
  data() {
    return {
      url: "",
      keepInBounds: true,
      editor: null,
      HTML: "",
      JSON: "",
      fileList: [],
      reader: new FileReader()
    };
  },
  computed: {},
  mounted() {
    this.editor = new Editor({
      extensions: [
        new Blockquote(),
        new BulletList(),
        new CodeBlock(),
        new HardBreak(),
        new Heading({ levels: [1, 2, 3] }),
        new HorizontalRule(),
        new ListItem(),
        new OrderedList(),
        new TodoItem(),
        new TodoList(),
        new Bold(),
        new Code(),
        new Italic(),
        new Strike(),
        new Underline(),
        new History(),
        new Image(),
        new TrailingNode(),
        new Iframe(),
        new Link()
      ],
      content:
        this.currentField.content !== null
          ? this.currentField.content
          : `<h2>
            Embeds
          </h2>
          <p>
            This is an example of <strong>TEXT</strong>. This makes it possible to render
          </p>
          <image src="https://media2.giphy.com/media/JRE3AvLsSRXg360F6l/giphy.gif?cid=790b761184baa1f1e54eff56e2148008e76489b0a63c0c8c&rid=giphy.gif"></image>`,
      onUpdate: ({ getHTML }) => {
        this.currentField.content = getHTML();
        this.HTML = getHTML();
      },
      onPaste: () => {
        setTimeout(() => {
          let result = this.HTML.match(/href="([^"]*)/g);
          let endResult = result[result.length - 1];
          let id = this.youtubeParser(endResult);
          this.editor.commands.iframe({ src: id });
        }, 0);
      }
    });

    this.currentField.content = this.editor.getHTML();
  },
  beforeDestroy() {
    this.editor.destroy();
  },
  methods: {
    onExceed(file, fileList) {
      return { file, fileList };
    },
    readImage(image) {
      return new Promise(resolve => {
        this.reader.readAsDataURL(image);
        this.reader.onloadend = e => resolve(e.target.result);
      });
    },
    putImage(undefined, { raw }, fileList) {
      this.readImage(raw).then(base64 => {
        const doc = this.editor.getJSON();

        doc.content.push({
          type: "paragraph",
          content: [
            {
              type: "image",
              attrs: {
                src: base64
              }
            }
          ]
        });
        this.editor.setContent(doc);
        this.currentField.content = this.editor.getHTML();
        window.editor = this.editor;
        this.fileList = fileList;
        window.fileList = this.fileList;
      });
    },
    addVideo(iframe) {
      const data = {
        command: iframe,
        data: {
          src: "LEoGQU_k78k"
        }
      };
      data.command(data.data);
    },
    youtubeParser(url) {
      const regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#&?]*).*/;
      const match = url.match(regExp);
      return match && match[7].length === 11 ? match[7] : false;
    },
    showImagePrompt(command) {
      const src = prompt("Enter the url of your image here");
      if (src !== null) {
        command({ src });
      }
    }
  }
};
</script>
<style lang="scss">
.menubar__button {
  font-weight: 700;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: rgba(0, 0, 0, 0);
  border: 0;
  color: #000;
  padding: 0.2rem 0.5rem;
  margin-right: 0.2rem;
  border-radius: 3px;
  cursor: pointer;
}
.menubar__button.is-active {
  background-color: rgba(0, 0, 0, 0.1);
}
.menububble.is-active {
  opacity: 1;
  visibility: visible;
}
.menububble__button {
  background: none;
  border: none;
  color: white;
}
.menububble {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 20;
  background: #000;
  border-radius: 5px;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s, visibility 0.2s;
  transition: opacity 0.2s, visibility 0.2s;
}
.ProseMirror:focus {
  outline: none !important;
}

iframe {
  &__embed {
    width: 100%;
    height: 15rem;
    border: 0;
  }
  &__input {
    display: block;
    width: 100%;
    font: inherit;
    border: 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.3rem 0.5rem;
  }
}
.iframe__embed {
  width: 100%;
  height: 15rem;
  border: 0;
}
.editor__content pre {
  padding: 0.7rem 1rem;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 0.8rem;
  overflow-x: auto;
  font-size: 16px !important;
}
pre {
  padding: 0.7rem 1rem;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 0.8rem;
  overflow-x: auto;
  font-size: 16px !important;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-variant-ligatures: none;
  -webkit-box-direction: normal;
}
.editor__content p code {
  padding: 0 0.4rem;
  border-radius: 5px;
  font-size: 16px !important;
  font-weight: 700;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
}
p code {
  display: inline-block;
  padding: 0 0.4rem;
  border-radius: 5px;
  font-size: 16px !important;
  font-weight: 700;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
}

@media only screen and (min-width: 600px) {
  p > img {
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
  }
}
iframe {
  width: 100% !important;
  height: calc(40vh);
  border: 0;
}
.iframe__input {
  text-align: center;
  display: block;
  width: 100%;
  font-style: inherit;
  border: 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.3rem 0.5rem;
}

.editor__content blockquote {
  border-left: 3px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
  padding-left: 0.8rem;
  font-style: italic;
}
blockquote {
  border-left: 3px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
  padding-left: 0.8rem;
  font-style: italic;
}
blockquote:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
ol:last-child,
p:last-child,
pre:last-child,
ul:last-child {
  margin-bottom: 0;
}
.editor__content * {
  caret-color: currentColor;
}
</style>
