<template>
  <div
    :style="{ height: currentField.height * 10 + 'px' }"
    style="height:inherit;"
  >
    <el-upload
      :disabled="currentField.isDisabled"
      :show-file-list="false"
      :auto-upload="false"
      :on-change="tryit"
      class="avatar-uploader"
      action="https://jsonplaceholder.typicode.com/posts/"
      style="height:inherit; width:inherit;"
    >
      <img
        v-if="currentField.image.show !== null"
        :src="currentField.image.show"
        class="avatar"
        style="height:100%; width:100%; border-radius:3px;"
      />
      <div v-else style="height:100%">
        <i
          class="el-icon-plus avatar-uploader-icon"
          style="height:inherit; width:inherit;"
        ></i>
      </div>
    </el-upload>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: ["currentField"],
  // store: ["activePage"],
  data() {
    return {
      image: null,
      extensions: [
        "image/jpg",
        "image/jpeg",
        "image/png",
        "image/jfif",
        "image/gif"
      ],
      count: 0,
      uploadObject: { file: null, guid: this.currentField.guid }
    };
  },
  computed: {
    ...mapGetters("guides", {
      activePage: "getActivePage"
    })
  },
  created() {
    if (
      this.currentField.guid === null ||
      this.currentField.image.saved === false
    ) {
      this.currentField.guid = this.uploadObject.guid = this.makeGuid();
      this.activePage.temp.imagesFileToUpload.push(this.uploadObject);
    }
    this.currentField.isDisabled =
      this.currentField.image.show !== null ? true : false;
  },
  methods: {
    tryit(file) {
      let isFileLessThan3Mb = file.size / 1024 / 1024 < 3;
      let isFileExpected = this.extensions.includes(file.raw.type);
      if (!isFileExpected) {
        this.$message.error({
          showClose: true,
          message: "The file is not a image"
        });
        return;
      }
      if (!isFileLessThan3Mb) {
        this.$message.error({
          showClose: true,
          message: "The image is too big!"
        });
        return;
      }
      let reader = new FileReader();

      reader.readAsDataURL(file.raw);
      reader.onload = ({ target }) => {
        this.currentField.image.show = target.result;
        this.currentField.image.saved = false;
        this.currentField.isDisabled = true;
        try {
          let isAvailableToUpload =
            _.findIndex(
              this.activePage.temp.deleteImagesFromServer,
              e => e.guid === this.currentField.guid
            ) !== -1
              ? true
              : false;
          this.uploadObject.file = file.raw;

          if (!isAvailableToUpload)
            this.activePage.temp.imagesFileToUpload.push(this.uploadObject);
        } catch (error) {
          return error;
        }
      };
    },
    makeGuid() {
      return "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(/[xy]/g, function(
        c
      ) {
        var r = (Math.random() * 16) | 0,
          v = c == "x" ? r : (r & 0x3) | 0x8;
        return v.toString(16);
      });
    }
  }
};
</script>
<style scoped>
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 100% !important;
  height: inherit !important;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.el-upload-dragger {
  width: inherit;
  height: inherit;
}
.el-upload-list--picture .el-upload-list__item {
  overflow: hidden;
  z-index: unset;
  background-color: unset;
  border: 1px solid unset;
  border-radius: unset;
  -webkit-box-sizing: unset;
  box-sizing: unset;
  margin-top: unset;
  padding: 10px 10px 10px 90px;
  height: 92px;
}
.avatar-uploader-icon {
  position: relative;
  top: calc(50%);
  line-height: 0;
}
</style>
