// .category-button {
//     -webkit-font-smoothing: antialiased;
//     -webkit-tap-highlight-color: transparent;
//     font-family: inherit;
//     display: inline-block;
//     line-height: 1;
//     white-space: nowrap;
//     cursor: pointer;
//     background: #fff;
//     border: 1px solid rgba(136, 173, 176, 1);
//     color: rgba(116, 136, 138, 1);
//     -webkit-appearance: none;
//     text-align: center;
//     box-sizing: border-box;
//     outline: none;
//     margin: 0;
//     transition: 0.1s;
//     font-weight: 500;
//     font-size: 14px;
//     border-radius: 20px;
//     padding: 12px 23px;
//   }

//   .el-button:focus,
//   .el-button:hover {
//     color: rgba(48, 97, 100, 1);
//     border-color: #c6e2ff;
//     background-color: #ecf5ff;
//   }

//   .el-button.is-disabled,
//   .el-button.is-disabled:focus,
//   .el-button.is-disabled:hover {
//     color: #c0c4cc;
//     cursor: not-allowed;
//     background-image: none;
//     background-color: #fff;
//     border-color: #ebeef5;
//   }

//   .el-button:active {
//     color: rgb(104, 202, 217);
//     border-color: rgb(104, 202, 217);
//     outline: none;
//   }
//   .el-select {
//     width: 100% !important;
//   }

//   .el-radio__input.is-checked .el-radio__inner {
//     border-color: rgb(104, 202, 217) !important;
//     background: rgb(104, 202, 217) !important;
//   }