<template>
  <el-dialog
    :visible.sync="dialogVisibleF"
    :before-close="handleClose"
    :style="`opacity: ${isTransparent ? '0.2;' : '1;'}`"
    title="Category Options"
    width="80%"
  >
    <el-container>
      <el-main>
        <category-options />
      </el-main>
    </el-container>
  </el-dialog>
</template>
<script>
import CategoryOptions from "@/components/home_components/CategoryOptions";
export default {
  name: "FieldOptionsDialogMobile",
  components: {
    CategoryOptions
  },
  props: {
    dialogVisibleCategory: {
      type: Boolean,
      default: () => false
    }
  },
  data() {
    return {
      isTransparent: false
    };
  },
  computed: {
    dialogVisibleF: {
      //! get: () => prop |-> not working ({ undefined })
      get() {
        return this.dialogVisibleCategory;
      },
      set(value) {
        this.$emit("changeisVisibleCategoryToFalse", value);
      }
    }
  },

  created() {},
  mounted() {},
  beforeDestroy() {},
  destroyed() {},
  methods: {
    handleClose(done) {
      this.$confirm("Are you sure to close this dialog?")
        .then(() => {
          done();
        })
        .catch(() => ({}));
    },
    isAgoodScreen() {
      return window.screen.width < 1366;
    }
  }
};
</script>

<style></style>
