<template>
  <el-form-item>
    <el-button
      @click="newSection"
      type="success"
      style="z-index:1;"
      round
      plain
    >
      Add Section
    </el-button>
    <!-- position: relative;
        margin-top:20px;
        font-size: 12px;
        float:right;
        border-radius: 44px;
        background-color:rgba(116, 136, 138, 1);
        border-color:rgba(116, 136, 138, 1); -->
  </el-form-item>
</template>
<script>
import { mapState, mapMutations } from "vuex";
export default {
  name: "NewSection",
  computed: {
    ...mapState("guides", ["activePage"])
  },
  methods: {
    ...mapMutations("guides", ["setActivePage"]),
    newSection() {
      let activePage = this.activePage;
      activePage.builder.push({
        title: "",
        fields: []
      });
      this.setActivePage(activePage);
    }
  }
};
</script>

<style scoped>
.el-form-item {
  padding: 0;
  margin: 0;
}
</style>
