<template>
  <el-form-item>
    <el-button
      @click="updatePage"
      :icon="
        !isPageChanged
          ? 'el-icon-check'
          : loadingUpdatePage
          ? 'el-icon-loading'
          : 'el-icon-finished'
      "
      :disabled="loadingUpdatePage || !isPageChanged"
      style="width:125px;"
      type="info"
      round
      plain
      >{{
        !isPageChanged
          ? "Up to date"
          : loadingUpdatePage
          ? "Saving..."
          : "Save it !"
      }}</el-button
    >
    <!-- style="z-index:1;
        position: relative;
        margin-top:20px;
        font-size: 12px;
        float:right;
        border-radius: 44px;
        color:white;
        background-color:rgba(56,193,115, 1);" -->
  </el-form-item>
</template>
<script>
import { mapState, mapMutations } from "vuex";
import ApiFunctions from "@/mixins/ApiFunctions";
import NProgress from "@/plugins/nprogress";
export default {
  name: "UpdatePage",
  mixins: [ApiFunctions],
  props: {},
  data() {
    return {
      loadingUpdatePage: false,

      isPageChanged: false
    };
  },
  computed: {
    ...mapState("guides", ["pages", "activePage"])
  },
  watch: {
    activePage: {
      handler() {
        let activePage = _.cloneDeep(this.activePage);
        activePage.created_at = "";
        activePage.updated_at = "";
        activePage.temp = "";
        let page = _.cloneDeep(_.find(this.pages, e => e.id === activePage.id));
        page.created_at = "";
        page.updated_at = "";
        page.temp = "";
        let equal = _.isEqual(activePage, page);
        if (!equal) {
          this.isPageChanged = true;
        } else {
          this.isPageChanged = false;
        }
        this.setActivePage(this.activePage);
      },
      deep: true
    }
  },
  created() {},
  mounted() {},
  beforeDestroy() {},
  destroyed() {},
  methods: {
    ...mapMutations("guides", ["setPages", "setActivePage"]),
    updatePage() {
      NProgress.start();
      this.loadingUpdatePage = true;
      this.updatePageIntoDB()
        .then(() => {
          this.successNotification();
          this.isPageChanged = false;
          this.loadingUpdatePage = false;
          NProgress.done();
        })
        .catch(e => {
          this.$message.error(e);
        });
    },
    successNotification() {
      this.$notify({
        title: "Updated",
        position: "right",
        message: `The process ${this.activePage.name} was updated successfully`,
        type: "success"
      });
    }
  }
};
</script>

<style scoped>
.el-form-item {
  padding: 0;
  margin: 0 5px;
}
</style>
