<template>
  <el-form-item>
    <el-checkbox
      v-model="activePage.visible"
      size="medium"
      label="Visible"
      border
      style="border-radius: 44px"
    ></el-checkbox>
    <!-- style="z-index:1;
        position: relative;
        margin-top:20px;
        font-size: 12px;
        float:right;
        border-radius: 44px;
        " -->
  </el-form-item>
</template>
<script>
import { mapState, mapMutations } from "vuex";
export default {
  name: "Visible",
  components: {},
  props: {},
  data() {
    return {};
  },
  computed: {
    ...mapState("guides", ["activePage"])
  },
  watch: {
    "activePage.visible"() {
      // eslint-disable-next-line no-unused-vars
      let smt = this.visiblesCategoriesTable;
    }
  },
  created() {},
  mounted() {},
  beforeDestroy() {},
  destroyed() {},
  methods: {
    ...mapMutations("guides", ["setActivePage"]),

    visible(event) {
      let activePage = this.activePage;
      activePage.visible = event.target;
      this.setActivePage(activePage);
    }
  }
};
</script>

<style scoped>
.el-form-item {
  padding: 0;
  margin: 0 5px;
}
</style>
