<template>
  <div class="GuideMenu">
    <el-container v-loading="loading" style="text-align:center">
      <el-header>
        <!-- <h1>Menu</h1> -->
      </el-header>
      <el-main>
        <el-row>
          <el-col
            :xl="{ span: 14, offset: 5 }"
            :lg="{ span: 18, offset: 3 }"
            :md="{ span: 18, offset: 3 }"
            :sm="{ span: 20, offset: 2 }"
            :xs="{ span: 22, offset: 1 }"
          >
            <el-card class="box-card">
              <h1
                @click="goToProcess((1).toString())"
                style="margin-top: 0px; color: rgba(136, 173, 176, 1); z-index: 5; cursor: pointer"
              >
                Creation
              </h1>
              <el-divider style="margin-bottom: 1px !important;">
                <i class="el-icon-circle-plus"></i>
              </el-divider>
              <el-row>
                <el-col :span="10">
                  <el-container>
                    <el-main>
                      <submit-form
                        :dynamicValidateForm="dynamicValidateForm"
                        :guides="guides"
                      />
                    </el-main>
                  </el-container>
                </el-col>
                <el-col :span="14">
                  <el-container>
                    <el-main>
                      <submit-form-log
                        @spliceGuides="spliceGuides"
                        :guides="guides"
                        :setToPreview="setToPreview"
                      />
                    </el-main>
                  </el-container>
                </el-col>
              </el-row>
            </el-card>
          </el-col>
        </el-row>
      </el-main>
      <el-footer></el-footer>
    </el-container>
  </div>
</template>
<script>
import { mapGetters, mapMutations } from "vuex";
import SubmitForm from "@/components/creation/SubmitForm";
import SubmitFormLog from "@/components/creation/SubmitFormLog";
export default {
  name: "Creation",
  components: { SubmitForm, SubmitFormLog },

  props: {
    activeName: {
      type: String,
      required: false,
      default: () => {
        "Preview";
      }
    }
  },
  data() {
    return {
      showLinks: [],
      loading: false,
      value: "",
      dynamicValidateForm: {
        guides: [
          // { name: "Example 101", created_at: "2001-01-01 10:10:10" }
        ],
        id: null,
        name: "",
        created_at: `${new Date()
          .toJSON()
          .slice(0, 10)} ${new Date().toJSON().slice(11, 19)}`,
        updated_at: `${new Date()
          .toJSON()
          .slice(0, 10)} ${new Date().toJSON().slice(11, 19)}`,
        builder: JSON.stringify([
          {
            title: "",
            fields: []
          }
        ]),
        visible: false,
        guide_id: null
      }
    };
  },
  computed: {
    ...mapGetters("guides", {
      pages: "getPages",
      activePage: "getActivePage"
    }),
    guides() {
      return [...this.dynamicValidateForm.guides];
      // return [...this.pages];
    },
    activeNameLocal: {
      get: function() {
        return this.activeName;
      },
      set: function(value) {
        this.$emit("activeNameChange", value);
      }
    }
  },
  methods: {
    ...mapMutations("guides", [
      "setActiveField",
      "setActiveTabForFields",
      "addToBreadcrumb"
    ]),
    setToPreview() {
      this.activeNameLocal = "Preview";
    },
    /**
     * @param id receives a { string } of current page/process
     */
    goToProcess(id) {
      if (id == this.activePage.id) {
        this.activeNameLocal = "Preview";
        return;
      }
      let page = _.find(this.pages, e => e.id == id);
      this.addToBreadcrumb({ id: page.id, name: page.name });
      this.resetFields();
      this.loading = true;
      this.$router.push({
        name: "process",
        params: { id: id }
      });
      this.activeNameLocal = "Preview";
      this.loading = false;
    },
    resetFields() {
      this.setActiveField([]);
      this.setActiveTabForFields("elements");
    },
    spliceGuides(index) {
      this.dynamicValidateForm.guides.splice(index, 1);
    }
  }
};
</script>

<style scoped>
.el-divider--horizontal {
  margin: 0 0 10px 0;
}

body {
  height: 100%;
}
.text-muted {
  color: rgb(108, 117, 125);
  font-size: 35px;
  margin: 0 0 20px 0;
}
</style>
