<template>
  <div id="Guide">
    <el-tabs v-model="activeName">
      <el-tab-pane label="Design" name="Design">
        <transition name="fade" mode="out-in">
          <router-view></router-view>
        </transition>
      </el-tab-pane>
      <el-tab-pane label="Preview" name="Preview">
        <preview />
      </el-tab-pane>
      <el-tab-pane label="Home" name="Home">
        <guide-menu
          :activeName="activeName"
          :pages="pages"
          @activeNameChange="activeNameChange"
        />
      </el-tab-pane>
      <el-tab-pane label="Creation" name="Creation">
        <creation @activeNameChange="activeNameChange" />
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import Preview from "./Preview";
import GuideMenu from "./GuideMenu";
import Creation from "./Creation";
import { mapState } from "vuex";
export default {
  name: "App",
  components: {
    Preview,
    GuideMenu,
    Creation
  },
  data() {
    return {
      activeName: "Design"
    };
  },
  computed: {
    ...mapState("guides", ["pages"])
  },
  mounted() {},
  methods: {
    activeNameChange(value) {
      this.activeName = value;
    }
  }
};
</script>

<style lang="scss">
@import "@/assets/scss/_default_styles.scss";
</style>
