<template>
  <div class="GuideMenu">
    <el-container v-loading="loading" style="text-align:center">
      <el-header>
        <!-- <h1>Menu</h1> -->
      </el-header>
      <el-main>
        <el-row>
          <el-col :span="20">
            <el-select
              v-model="value"
              placeholder="Select"
              style="margin-left:1400px"
            >
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              ></el-option>
            </el-select>
          </el-col>
        </el-row>

        <el-row>
          <el-col
            :xl="{ span: 16, offset: 4 }"
            :lg="{ span: 20, offset: 2 }"
            :md="{ span: 22, offset: 1 }"
            :sm="{ span: 24 }"
            :xs="{ span: 24 }"
          >
            <el-card class="box-card">
              <h1
                @click="goToProcess((1).toString())"
                style="margin-top: 0px; color: rgba(136, 173, 176, 1); z-index:5; cursor: pointer"
              >
                Categories
              </h1>
              <el-divider style="margin-bottom: 1px !important;">
                <i class="el-icon-star-on"></i>
              </el-divider>
              <guide-menu-card :pages="pages" :goToProcess="goToProcess" />
            </el-card>
          </el-col>
        </el-row>
      </el-main>
      <el-footer></el-footer>
    </el-container>
  </div>
</template>
<script>
import { mapGetters, mapMutations } from "vuex";
import GuideMenuCard from "@/components/guide_menu_components/GuideMenuCard";
export default {
  name: "GuideMenu",
  components: {
    GuideMenuCard
  },

  props: {
    activeName: {
      type: String,
      required: false,
      default: () => {
        "Preview";
      }
    }
  },
  data() {
    return {
      showLinks: [],
      loading: false,
      value: "",
      options: [
        {
          value: "Option1",
          label: "Option1"
        },
        {
          value: "Option2",
          label: "Option2"
        },
        {
          value: "Option3",
          label: "Option3"
        },
        {
          value: "Option4",
          label: "Option4"
        },
        {
          value: "Option5",
          label: "Option5"
        }
      ]
    };
  },
  computed: {
    ...mapGetters("guides", {
      pages: "getPages",
      activePage: "getActivePage"
    }),
    activeNameLocal: {
      get: function() {
        return this.activeName;
      },
      set: function(value) {
        this.$emit("activeNameChange", value);
      }
    }
  },
  methods: {
    ...mapMutations("guides", [
      "setActiveField",
      "setActiveTabForFields",
      "addToBreadcrumb"
    ]),
    /**
     * @param id receives a { string } of current page/process
     */
    goToProcess(id) {
      if (id == this.activePage.id) {
        this.activeNameLocal = "Preview";
        return;
      }
      let page = _.find(this.pages, e => e.id == id);
      this.addToBreadcrumb({ id: page.id, name: page.name });
      this.resetFields();
      this.loading = true;
      this.$router.push({
        name: "process",
        params: { id: id }
      });
      this.activeNameLocal = "Preview";
      this.loading = false;
    },
    resetFields() {
      this.setActiveField([]);
      this.setActiveTabForFields("elements");
    }
  }
};
</script>

<style scoped>
.el-divider--horizontal {
  margin: 0 0 10px 0;
}

body {
  height: 100%;
}
.text-muted {
  color: rgb(108, 117, 125);
  font-size: 35px;
  margin: 0 0 20px 0;
}
</style>
