<template>
  <div class="home">
    <el-container style>
      <el-row style="width:100%;margin-bottom: 0px;">
        <el-col :xl="{ span: 2 }" style="height:1px"></el-col>

        <el-col
          :xl="{ span: 15 }"
          :lg="{ span: 17 }"
          :md="{ span: 24 }"
          :sm="{ span: 24 }"
          :xs="{ span: 24 }"
        >
          <el-main class="el-main-left" style="height:calc(89vh);">
            <el-row>
              <el-col :span="24">
                <history-bar />
              </el-col>
            </el-row>
            <el-row class="hidden-lg-and-up">
              <el-col :span="24">
                <div style="float:right; padding: 0 20px;">
                  <main-buttons />
                </div>
              </el-col>
            </el-row>

            <div class="wrapper--forms" style="margin-top: -19px;">
              <div>
                <el-row v-if="forms.length === 0">
                  <div class="empty-section"></div>
                </el-row>

                <template
                  v-for="(eachFormObj, eachFormIndex) in activePage.builder"
                >
                  <div
                    :key="`div-${eachFormIndex}`"
                    class="section-block"
                    style="border-radius: 11px;"
                  >
                    <div
                      class="source"
                      style="background-color:#fafafa; border-radius: 11px"
                    >
                      <el-row>
                        <el-col :span="16">
                          <el-input
                            v-model="eachFormObj.title"
                            placeholder="Please input section title"
                            style="width: 100%;"
                          ></el-input>
                        </el-col>
                        <el-col :span="1">
                          <mobile-draggable-elements class="hidden-lg-and-up" />
                        </el-col>
                        <el-col :span="1">
                          <div @touchstart="dialogVisibleCategory = true">
                            <span
                              class="hidden-lg-and-up"
                              style="    font-size: 24px;
                            margin: 10px 49px;
                            padding: 10px 22px;
                            position: relative;
                            right: -2px;
                            bottom: -8px;
                            cursor: pointer;"
                            >
                              <i class="el-icon-s-operation"></i>
                            </span>
                          </div>
                        </el-col>
                        <el-col :span="isAMdAndUpScreen ? 8 : 6">
                          <el-button
                            @touchstart="
                              deleteSection(eachFormIndex, eachFormObj.title)
                            "
                            @click="
                              deleteSection(eachFormIndex, eachFormObj.title)
                            "
                            class="deleteSect"
                            type="danger"
                            round
                            style="float: right;"
                            >Delete Section</el-button
                          >
                        </el-col>
                      </el-row>
                    </div>
                    <div class>
                      <el-row class="divisao">
                        <div style="height:100%">
                          <draggable
                            :list="eachFormObj.fields"
                            :group="{
                              name: 'formbuilder',
                              pull: false,
                              put: true
                            }"
                            @change="log"
                            class="dragArea"
                            ghost-class="sortable__ghost"
                          >
                            <!-- The form elements starts (on the right) -->
                            <!-- <div> -->
                            <el-col
                              v-for="(field, index) in eachFormObj.fields"
                              :key="index"
                              :class="{ 'is--active': field === activeField }"
                              :style="[
                                {
                                  padding:
                                    field.fieldType === 'Button' ? 7 + 'px' : 0
                                }
                              ]"
                              :span="field.span"
                              v-bind="field"
                              style="padding:10px; height:100%;"
                              class="form__group"
                            >
                              <span class="form__selectedlabel">{{
                                field.text
                              }}</span>

                              <el-badge
                                :is-dot="field.hasOwnProperty('linkToPage')"
                                :type="
                                  field.linkToPage !== null
                                    ? 'success'
                                    : 'danger'
                                "
                                class="item"
                                style="width: 100%; border-radius: 4px;"
                              >
                                <div
                                  id="eisto"
                                  @touchstart="
                                    editElementProperties(field);
                                    touchStart();
                                  "
                                  @touchend="touchEnd()"
                                  @touchmove="iLikeToMoveMove()"
                                  @click="editElementProperties(field)"
                                  style="width: 99%;overflow: hidden;"
                                >
                                  <component
                                    :is="field.fieldType"
                                    :currentField="field"
                                    class="form__field"
                                    style="padding: 10px;z-index: 99"
                                  />
                                </div>
                              </el-badge>
                              <!-- Actions list -->
                              <div class="form__actiongroup">
                                <el-button
                                  circle
                                  size="mini"
                                  icon="el-icon-rank"
                                  class="form__actionitem--move solido"
                                  style="z-index: 10;top: 50%;right: -11px;"
                                ></el-button>
                                <el-button-group
                                  class="form__actionlist"
                                  style="z-index: 2;width: 140px;"
                                >
                                  <el-tooltip
                                    :content="'Clone'"
                                    :hide-after="1000"
                                    class="solido"
                                    effect="dark"
                                    placement="bottom"
                                  >
                                    <div
                                      @touchstart="
                                        cloneElement(
                                          index,
                                          field,
                                          eachFormObj.fields
                                        )
                                      "
                                      style="display: inline-block"
                                    >
                                      <el-button
                                        @click="
                                          cloneElement(
                                            index,
                                            field,
                                            eachFormObj.fields
                                          )
                                        "
                                        v-show="!field.isUnique"
                                        class="solido"
                                        size="mini"
                                        icon="el-icon-plus"
                                      ></el-button>
                                    </div>
                                  </el-tooltip>
                                  <el-tooltip
                                    :content="'Delete'"
                                    :hide-after="1000"
                                    class="solido"
                                    effect="dark"
                                    placement="bottom"
                                  >
                                    <!-- @click="
                                        deleteElement(index, eachFormObj.fields)
                                      " -->
                                    <div
                                      @touchstart="
                                        deleteElement(index, eachFormObj.fields)
                                      "
                                      style="display: inline-block"
                                    >
                                      <el-button
                                        @dblclick="
                                          dialogVisible = !dialogVisible
                                        "
                                        @click="
                                          deleteElement(
                                            index,
                                            eachFormObj.fields
                                          )
                                        "
                                        class="solido"
                                        size="mini"
                                        icon="el-icon-delete"
                                      ></el-button>
                                    </div>
                                  </el-tooltip>
                                  <template
                                    v-if="
                                      field.hasOwnProperty('link') &&
                                        field.hasOwnProperty('linkToPage') &&
                                        field.linkToPage !== null
                                    "
                                  >
                                    <el-tooltip
                                      :hide-after="1000"
                                      :content="field.processName"
                                      effect="dark"
                                      placement="right"
                                      class="solido"
                                    >
                                      <div
                                        @touchstart="pushPage(field)"
                                        style="display: inline-block"
                                      >
                                        <el-button
                                          @click="pushPage(field)"
                                          size="mini"
                                          icon="el-icon-thumb"
                                        ></el-button>
                                      </div>
                                    </el-tooltip>
                                  </template>
                                </el-button-group>
                              </div>
                            </el-col>
                            <!-- </div> -->
                          </draggable>
                        </div>
                      </el-row>
                    </div>
                  </div>
                </template>
              </div>
            </div>
          </el-main>
        </el-col>
        <el-col :md="5" style="height: 1px"></el-col>

        <el-col
          :xl="{ span: 5 }"
          :lg="{ span: 7 }"
          :md="{ span: 14 }"
          :sm="{ span: 24 }"
          :xs="{ span: 24 }"
          v-if="isAMdAndUpScreen"
          style="height: calc(89vh);overflow: auto;"
        >
          <div>
            <el-row
              style="    margin-top: 18px;
    margin-bottom: 16px;"
            >
              <el-col>
                <main-buttons />
              </el-col>
            </el-row>

            <div>
              <field-options :id="id" />
              <category-options />
            </div>
          </div>
        </el-col>
        <el-col :md="5" style="height:1px"></el-col>
        <el-col :xl="{ span: 2 }" style="height:1px"></el-col>
        <div class="mobile-modal">
          <FieldOptionsDialogMobile
            @changeisVisibleToFalse="changeisVisibleToFalse"
            :dialogVisible="dialogVisible"
            class="hidden-lg-and-up"
          />
          <MobileCategoryDialogConf
            @changeisVisibleCategoryToFalse="changeisVisibleCategoryToFalse"
            :dialogVisibleCategory="dialogVisibleCategory"
          />
        </div>
      </el-row>
    </el-container>
  </div>
</template>

<script>
import { FormBuilder } from "@/components/form_elements/formbuilder";
import MobileDraggableElements from "@/components/home_components/MobileDraggableElements";
import MainButtons from "@/components/home_components/MainButtons";
import CategoryOptions from "@/components/home_components/CategoryOptions";
import FieldOptions from "@/components/home_components/FieldOptions";
import MobileCategoryDialogConf from "@/components/home_components/mob_options/MobileCategoryDialogConf";
import { mapState, mapMutations } from "vuex";
import FieldOptionsDialogMobile from "@/components/home_components/mob_options/FieldOptionsDialogMobile.vue";
export default {
  name: "Home",
  components: {
    ...FormBuilder.$options.components,
    MainButtons,
    MobileDraggableElements,
    FieldOptionsDialogMobile,
    CategoryOptions,
    FieldOptions,
    MobileCategoryDialogConf
  },
  props: {
    id: {
      type: String,
      default: "1"
    }
  },
  data() {
    return {
      sortElementOptions: FormBuilder.$data.sortElementOptions,
      activeCount: 0,
      time: null,
      timeSpan: 0,
      dialogVisible: false, // Fields
      dialogVisibleCategory: false
    };
  },
  computed: {
    ...mapState("guides", [
      "activePage",
      "forms",
      "activeField",
      "activeTabForFields",
      "pages",
      "breadcrumb"
    ]),
    actualIndexBreadcrumb() {
      return _.findIndex(this.breadcrumb, e => e.id === this.activePage.id);
    },
    isAMdAndUpScreen() {
      return window.screen.width >= 1366;
    }
  },
  watch: {
    id(new_value) {
      this.setActivePage(
        _.assign(_.cloneDeep(_.find(this.pages, e => new_value == e.id)), {
          temp: {
            deleteImagesFromServer: [],
            imagesFileToUpload: [],
            imagesToUpdate: []
          }
        })
      );
      if (
        this.breadcrumb.length > 1 &&
        this.actualIndexBreadcrumb !== -1 &&
        this.actualIndexBreadcrumb < this.breadcrumb.length - 1
      ) {
        let res = this.breadcrumb.length - this.actualIndexBreadcrumb - 1;
        this.breadcrumb.splice(this.actualIndexBreadcrumb + 1, res);
      }
    },
    timeSpan(newv) {
      if (newv >= 10) window.clearInterval(this.time);
    }
  },
  created() {
    window.page = "Do u know the wae?";
  },

  methods: {
    ...mapMutations("guides", [
      "setActiveTabForFields",
      "addToBreadcrumb",
      "setActivePage",
      "setPages",
      "setActiveField"
    ]),
    updateActiveTabForFields(e) {
      this.setActiveTabForFields(e);
    },
    changeisVisibleCategoryToFalse(e) {
      this.dialogVisibleCategory = e;
    },
    /**
     * @param Boolean receives false
     */
    changeisVisibleToFalse(e) {
      this.dialogVisible = e;
    },
    pushPage(field) {
      let page = _.find(this.pages, e => e.id === field.linkToPage);
      this.addToBreadcrumb({ id: page.id, name: page.name });
      this.resetFields();
      this.$router.push({
        name: "process",
        params: { id: String(field.linkToPage) }
      });
    },

    deleteSavedImage(index, form) {
      let count = 0;
      if (form[index].hasOwnProperty("image") && form[index].image.saved) {
        this.activePage.builder.forEach(e1 => {
          e1.fields.forEach(e2 => {
            if (
              e2.hasOwnProperty("image") &&
              e2.image.show == form[index].image.show
            )
              count++;
          });
        });
        if (count === 1) {
          let activePage = this.activePage;
          activePage.temp.deleteImagesFromServer.push(form[index].image.show);
          this.setActivePage(activePage);
        }
      }
      return count;
    },
    deleteUnsavedImageFromToUpload(index, form) {
      let i = _.findIndex(
        this.activePage.temp.imagesFileToUpload,
        e => e.guid === form[index].guid
      );
      this.activePage.temp.imagesFileToUpload.splice(i, 1);
    },
    cloneElement(index, field, form) {
      FormBuilder.cloneElement(index, field, form);
      if (field.fieldType === "tiptapComponent") FormBuilder.fields[1].id++;
    },
    validateDeletedElementFromUpload(index, form) {
      if (
        form[index].fieldType === "Upload" &&
        form[index].image.saved &&
        form[index].image.show !== null
      )
        this.deleteSavedImage(index, form);
      if (
        form[index].fieldType === "Upload" &&
        !form[index].image.saved &&
        form[index].image.show !== null
      )
        this.deleteUnsavedImageFromToUpload(index, form);
    },
    deleteElement(index, form) {
      this.validateDeletedElementFromUpload(index, form);
      FormBuilder.deleteElement(index, form);
    },
    iLikeToMoveMove: _.debounce(
      function() {
        window.clearInterval(this.time);
      },
      300,
      { leading: true, trailing: false }
    ),

    touchStart() {
      // console.log("Time started at 0...");
      if (this.time) {
        window.clearInterval(this.time);
        this.time = null;
        this.timeSpan = 0;
      }
      this.time = setInterval(() => {
        if (this.timeSpan === 1) this.$message("Hold it!");
        this.timeSpan++;
        if (this.timeSpan > 2) {
          this.dialogVisible = true;
          window.clearInterval(this.time);
          this.$off();
          this.timeSpan = 0;
        }
      }, 1000);
    },
    touchEnd() {
      window.clearInterval(this.time);
    },
    editElementProperties(field) {
      FormBuilder.editElementProperties(field);
    },
    resetFields() {
      this.setActiveField([]);
      this.setActiveTabForFields("elements");
    },
    deleteSection(formIndex, formTitle) {
      this.$confirm(
        `Are you sure to delete the section ${formTitle}?`,
        "Warning",
        {
          confirmButtonText: "OK",
          cancelButtonText: "Cancel",
          type: "warning"
        }
      ).then(() => {
        this.$delete(this.activePage.builder, formIndex);
      });
    },

    log(event) {
      return event;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style lang="scss" scoped>
@import "@/assets/scss/_home_styles.scss";
#pane-Design
  > div
  > section
  > div
  > div.el-col.el-col-24.el-col-xs-24.el-col-sm-24.el-col-md-14.el-col-lg-7.el-col-xl-4
  > div
  > div
  > button.el-button.el-button--primary.el-button--medium.is-round {
  border-color: unset;
}

.el-form-item {
  padding: 0;
  margin: 0;
}
#pane-Design
  > div
  > section
  > div
  > div.el-col.el-col-24.el-col-xs-24.el-col-sm-24.el-col-md-14.el-col-lg-7.el-col-xl-4
  > aside
  > button {
  background-color: rgb(104, 202, 217);
}
.disabled {
  cursor: not-allowed;
  background-color: rgba(82, 88, 90, 0.2) !important;
}
.disabled:hover {
  cursor: not-allowed;
  background-color: rgba(82, 88, 90, 0.1) !important;
}
</style>
