<template>
  <div class="main__wrapper">
    <el-container>
      <el-row style="width:100%">
        <el-col
          :xl="{ span: 15, offset: 4 }"
          :lg="{ span: 17, offset: 3 }"
          :md="{ span: 20, offset: 2 }"
          :sm="{ span: 22, offset: 1 }"
          :xs="{ span: 22, offset: 1 }"
        >
          <el-card class="wrapper--forms text-center">
            <el-main :style="cssProps">
              <history-bar />
              <el-form>
                <template
                  v-for="(eachFormObj, eachFormIndex) in activePage.builder"
                >
                  <el-divider :key="`divider-${eachFormIndex}`">{{
                    eachFormObj.title
                  }}</el-divider>
                  <el-row :key="`row-${eachFormIndex}`" :gutter="10">
                    <el-col
                      :xl="{ span: field.span }"
                      :lg="{ span: field.span }"
                      :md="{ span: field.span }"
                      :sm="{ span: field.span }"
                      :xs="{ span: field.span }"
                      v-for="(field, index) in eachFormObj.fields"
                      :key="index"
                      v-bind="field"
                      class="form__group"
                    >
                      <div
                        :span="field.span"
                        v-show="
                          field.hasOwnProperty('fieldType') &&
                            field['fieldType'] === 'TiptapComponent'
                        "
                        v-html="field.content"
                        style="margin-top:30px;"
                      ></div>
                      <div
                        :span="field.span"
                        v-show="
                          field.hasOwnProperty('fieldType') &&
                            field.fieldType === 'Upload'
                        "
                      >
                        <div
                          v-show="
                            _.has(field, 'image.show') && field.image.show
                          "
                          :style="{
                            height: field.height * 10 + 'px' || '10px'
                          }"
                          style="margin: 10px;box-shadow: 0 2px 12px 0 rgba(0,0,0,.1); border-radius: 10px;"
                        >
                          <img
                            v-if="
                              _.has(field, 'image.show') && field.image.show
                            "
                            :src="field.image.show"
                            class="image-upload"
                            style="width: 100%; height: 100%;"
                            alt
                          />
                        </div>
                      </div>
                      <div
                        v-show="
                          field.hasOwnProperty('fieldType') &&
                            field['fieldType'] === 'TitleEditor'
                        "
                        v-html="field.content"
                      ></div>
                      <div
                        :style="[
                          { height: true ? field.height * 10 + 'px' : '' },
                          { visibility: field.hidden ? 'hidden' : '' }
                        ]"
                        v-if="
                          field.hasOwnProperty('fieldType') &&
                            field['fieldType'] === 'Button'
                        "
                        class="button"
                      >
                        <div
                          v-if="
                            field.hasOwnProperty('linkToPage') &&
                              field.linkToPage !== null
                          "
                          @click="pushPage(field)"
                        >
                          <!-- <el-button></el-button> -->
                          <div>
                            <component
                              :is="field.fieldType"
                              :currentField="field"
                              class="form__field"
                              style="margin: 0.8vw 0"
                            ></component>
                          </div>
                        </div>
                      </div>
                    </el-col>
                  </el-row>
                </template>
              </el-form>
            </el-main>
          </el-card>
        </el-col>
      </el-row>
    </el-container>
  </div>
</template>

<script>
import { FormBuilder } from "@/components/form_elements/formbuilder";
import { mapGetters, mapState } from "vuex";
export default {
  name: "Preview",
  components: FormBuilder.$options.components,
  data() {
    return {};
  },
  computed: {
    ...mapState("guides/categories", ["visibles"]),
    ...mapGetters("guides", {
      forms: "getForms",
      activePage: "getActivePage",
      breadcrumb: "getBreadcrumb",
      pages: "getPages"
    }),

    cssProps() {
      var result = {},
        themingVars = this.themingVars;

      for (var v in themingVars) {
        if (themingVars.hasOwnProperty(v)) {
          var newV = "--theme-" + _.kebabCase(v),
            suffix = "";

          // Add px to the value if the default value contain 'px'
          if (_.includes(newV, "size")) suffix = "px";
          else if (_.includes(newV, "margin")) suffix = "px";
          else if (_.includes(newV, "radius")) suffix = "px";

          result[newV] = themingVars[v] + suffix;
        }
      }
      return result;
    }
  },
  methods: {
    pushPage(field) {
      this.breadcrumb.push(_.find(this.pages, e => e.id === field.linkToPage));
      this.$router.push({
        name: "process",
        params: { id: String(field.linkToPage) }
      });
    }
  }
};
</script>
<style scoped>
.image-upload {
  border-radius: 10px;
}
p > img {
  object-fit: contain;
  width: 100%;
}
.el-col {
  border-radius: 4px;
}
.bg-purple-dark {
  background: #99a9bf;
}
.bg-purple {
  background: #d3dce6;
}
.bg-purple-light {
  background: #e5e9f2;
}
.grid-content {
  border-radius: 4px;
  min-height: 36px;
}

.image,
.image-style-side {
  width: 50%;
  float: right;
}
.hidden {
  visibility: hidden;
}
</style>
