<template>
    <div class="ClassName">
        
    </div>
</template>
<script>
export default {
    name:'TiptapEditor',
    components:{},
    props:{},
    data(){return{};},
    computed:{},
    watch:{},
    created(){},
    mounted(){},
    beforeDestroy(){},
    destroyed(){},
    methods:{},
}
</script>

<style>

</style>