<template>
<el-form-item v-show="activeField.hasOwnProperty('htmlContent')" label="Html Content">
  <el-input :rows="16" v-model="activeField.htmlContent" type="textarea">{{activeField.htmlContent}}</el-input>
</el-form-item>
</template>
<script>

export default {
  name: 'HtmlAdvancedProp',
  // store: ['activeField']
}

</script>
