<template>
  <div class="ProcessAdvancedProp">
    <el-steps
      :active="active"
      finish-status="success"
      style="margin:-25px 0 18px 0"
    >
      <el-step
        v-for="c in total"
        :title="
          c == 1 ? 'Choose' : c == 2 ? 'Define' : c == 3 ? 'Confirm' : 'NAN'
        "
        :key="c"
        >{{ c }}</el-step
      >
    </el-steps>
    <transition name="el-fade-in" mode="out-in">
      <div
        v-show="
          activeField.typeOfLinkToPage != null &&
            active < 2 &&
            hiddeNextArrow == false
        "
        @click="next()"
        style="cursor: pointer;
        position: absolute;
        top: 160px;
        right: 4px;
        z-index:2;"
      >
        <i class="el-icon-right" style="font-size: 40px;opacity: 0.6;"></i>
      </div>
    </transition>
    <transition name="el-fade-in" mode="out-in">
      <div
        v-show="active >= 1 && active < 3"
        @click="previous()"
        style="cursor: pointer;
        position: absolute;
        top: 160px;
        left: 4px;
        z-index:3"
      >
        <i class="el-icon-back" style="font-size: 40px;opacity: 0.6;"></i>
      </div>
    </transition>
    <div style="text-align:center;">
      <transition name="el-zoom-in-center" mode="out-in">
        <div key="1" v-if="active === 0" class="transition-box">
          <el-row>
            <el-col :span="24">
              <h1>New one or existing one?</h1>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24" v-show="showFirst">
              <el-form-item>
                <el-radio-group
                  :value="activeField.typeOfLinkToPage"
                  @input="updateTypeOfLinkToPageFromActiveField"
                >
                  <el-radio-button label="New one"></el-radio-button>
                  <el-radio-button label="Existing one"></el-radio-button>
                </el-radio-group>
              </el-form-item>
            </el-col>
          </el-row>
        </div>
        <div key="2" v-if="active === 1" class="transition-box">
          <div
            v-show="
              activeField.typeOfLinkToPage === 'Existing one' &&
                activeField.transparent !== true &&
                activeField.link === true
            "
          >
            <h1>Choose One</h1>
            <div style="margin:0 20%">
              <div class="sub-title"></div>
              <el-select
                v-model="selectedProcess"
                filterable
                placeholder="Search"
                no-data-text="No processes found for this condition"
              >
                <el-option
                  v-for="(item, index) in list"
                  :key="index"
                  :label="item.label"
                  :value="item.value"
                  prefix-icon="el-icon-search"
                ></el-option>
              </el-select>
            </div>
          </div>

          <div
            v-show="
              activeField.typeOfLinkToPage === 'New one' &&
                activeField.transparent !== true &&
                activeField.link === true
            "
          >
            <el-row>
              <el-col :span="16" :offset="4">
                <h1 style="float:left;">Process name</h1>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="16" :offset="4">
                <el-input
                  :value="activeField.processName"
                  @input="updateProcessNameActiveFieldFromActiveField"
                  v-model="activeField.processName"
                  placeholder="Process Name"
                  prefix-icon="el-icon-edit"
                ></el-input>
              </el-col>
            </el-row>
          </div>
        </div>
        <div
          key="3"
          v-if="active === 2"
          class="transition-box"
          mode="out-in"
          style="word-break:normal;text-align:center;width:60%; margin:0 auto;font-size:20px;"
        >
          <h1>Confirm</h1>
          <div
            v-show="activeField.typeOfLinkToPage === 'Existing one'"
            style="margin: 0 10%;"
          >
            <p>
              The process "{{ selectedProcess }}" will be attached to this
              button
            </p>
            <el-button
              @click="
                attachProcessToButton();
                active = 3;
                alterPropsDialog(false);
              "
              type="success"
              icon="el-icon-check"
              circle
            ></el-button>
          </div>

          <div
            v-show="activeField.typeOfLinkToPage === 'New one'"
            style="margin: 0 10%;"
          >
            <p>
              The process "{{ activeField.processName }}" will be created and
              associated with this button
            </p>
            <el-button
              @click="
                active = 3;
                newProcess();
                alterPropsDialog(false);
              "
              type="success"
              icon="el-icon-check"
              circle
            ></el-button>
          </div>
        </div>
        <div
          key="4"
          v-if="active === 3"
          v-loading="isLoading"
          class="transition-box"
          mode="out-in"
        >
          <div style="text-align:center">
            <h3
              style="font-size: 39px;
            margin-bottom: 5px;"
            >
              This will only take a moment.
            </h3>
            <h3>Please wait...</h3>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>
<script>
import ApiFunctions from "@/mixins/ApiFunctions";
import { mapMutations, mapState } from "vuex";
import NProgress from "@/plugins/nprogress";
export default {
  mixins: [ApiFunctions],
  props: [
    "resetFields",
    "id",
    "closeDialog",
    "startLoading",
    "endLoading",
    "alterPropsDialog"
  ],
  data() {
    return {
      isLoading: false,
      active: 0,
      selectedProcess: "",

      hiddeNextArrow: false
    };
  },
  computed: {
    ...mapState("guides", ["activeField", "breadcrumb", "activePage", "pages"]),
    showFirst() {
      return (
        this.activeField.link === true && this.activeField.transparent !== true
      );
    },
    list() {
      let mock = this.pages.map(e => {
        return { value: e.name };
      });
      return _.remove(mock, e => e.value !== this.activePage.name);
    },
    total: {
      get() {
        return 3;
      }
    }
  },
  watch: {
    selectedProcess(newv) {
      if (newv !== "" || newv !== null) this.hiddeNextArrow = false;
      else this.hiddeNextArrow = true;
    },
    "activeField.processName": function(newv) {
      if (newv !== "" || newv !== null) this.hiddeNextArrow = false;
      else this.hiddeNextArrow = true;
    }
  },

  created() {},
  destroyed() {},
  methods: {
    ...mapMutations("guides", [
      "setForms",
      "setPages",
      "setActivePage",
      "setActiveField",
      "setActiveTabForFields",
      "addToPages",
      "addToBreadcrumb"
    ]),
    updateTypeOfLinkToPageFromActiveField(e) {
      let activeField = this.activeField;
      activeField.typeOfLinkToPage = e;
      this.setActiveField(activeField);
      // this.activeField = activeField;
      this.next();
    },
    updateProcessNameActiveFieldFromActiveField(e) {
      let activeField = this.activeField;
      activeField.processNameActiveField = e;
      this.setActiveField(activeField);
      // this.activeField = activeField;
    },
    querySearch(queryString, cb) {
      var list = this.list;
      var results = queryString
        ? list.filter(this.createFilter(queryString))
        : list;
      // call callback function to return suggestions
      cb(results);
    },
    notifyNewProcess(wasCorA) {
      this.$notify({
        title: "Created",
        message: `The process ${this.activePage.name} was ${wasCorA} successfully`,
        type: "success"
      });
    },
    addNewProcessInDB() {
      return new Promise((resolve, reject) => {
        this.$http
          .post("/api/guides", {
            id: null, //ok
            name: this.activeField.processName, //ok
            builder: [
              {
                title: "",
                fields: []
              }
            ],
            visible: false,
            guide_id: this.activePage.id,
            created_at: "",
            updated_at: "" //Ok
          })
          .then(({ data }) => {
            resolve(data);
          })
          .catch(error => {
            reject(error);
          });
      });
    },
    //<!-- #endregion -->
    attachProcessToButton() {
      let proc = _.find(this.pages, e => e.name === this.selectedProcess);
      this.activeField.linkToPage = proc.id;
      this.activeField.processName = proc.name;
      this.updatePageIntoDB().then(() => {
        this.notifyNewProcess("attached");
        this.resetFields();
        this.closeDialog();
        this.alterPropsDialog(true);
      });
    },
    newProcess() {
      this.isLoading = true;
      NProgress.start();
      this.addNewProcessInDB()
        .then(guide => {
          this.activeField.linkToPage = guide.id;
          let pages = this.pages;
          pages[
            _.findIndex(this.pages, e => e.id == this.activePage.id)
          ] = _.cloneDeep(this.activePage);

          this.setPages(pages);
          return this.updatePageIntoDB(guide);
        })
        .then(guide => {
          this.pages.push(guide);
          this.breadcrumb.push(guide);
          this.$router.push({
            name: "process",
            params: { id: String(guide.id) }
          });
          this.notifyNewProcess("created");
          this.resetFields();
          this.closeDialog();
          this.alterPropsDialog(true);
        });
    },
    createFilter(queryString) {
      return list => {
        return (
          list.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0
        );
      };
    },
    next() {
      if (++this.active === 3) this.active = 2;
      this.hiddeNextArrow = true;
      this.advancedPropsVisible = false;
    },
    previous() {
      if (--this.active < 0) this.active = 0;
      this.hiddeNextArrow = false;
    }
  }
};
</script>

<style lang="scss" scoped>
.el-button--success {
  border-color: #88adb0 !important;
}
.hollow-dots-spinner .dot {
  border: calc(15px / 5) solid #88adb0 !important;
}
// div.el-step__title.is-process {
//   position: relative;
//   left: -10px;
// }
</style>
