<template>
  <div class="el-tabs__inner" style="padding:15px 30px 30px 30px">
    <el-form
      ref="fieldProperties"
      :model="fieldProperties"
      :rules="rules"
      :label-position="labelPosition"
    >
      <el-row style="padding: 10px; margin-bottom:0px">
        <el-col
          :span="10"
          v-show="
            activeField.hasOwnProperty('link') &&
              activeField.transparent !== true &&
              activeField.linkToPage === null
          "
        >
          <el-form-item label="Page" style="font-weight:bold">
            <el-switch v-model="activeField.link"></el-switch>
          </el-form-item>
        </el-col>
        <el-col
          :span="6"
          v-show="
            activeField.hasOwnProperty('transparent') &&
              activeField.fieldType == 'Button' &&
              activeField.link !== true
          "
        >
          <el-form-item label="Hidden" style="font-weight:bold">
            <el-switch
              v-model="activeField.transparent"
              v-bind="{ disabled: activeField.link === true }"
            ></el-switch>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="24">
          <el-form-item
            v-if="
              activeField.hasOwnProperty('span') &&
                activeField.hasOwnProperty('group')
            "
            label="Width"
            style="font-weight:bold"
          >
            <!-- <el-input-number
              v-model="activeField.span"
              :min="2"
              :max="24"
              controls-position="right"
            ></el-input-number>-->
            <el-slider
              :min="2"
              :max="24"
              v-model="activeField.span"
              :step="1"
              :show-tooltip="dontShowToolTip"
              show-stops
            ></el-slider>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item
            v-if="
              activeField.hasOwnProperty('height') &&
                ![undefined, 0].includes(activeField.height) &&
                activeField.fieldType !== 'TiptapComponent'
            "
            style="font-weight:bold"
            label="Height"
          >
            <el-slider
              :min="4"
              :max="100"
              v-model="simulatingHeight"
              :show-tooltip="dontShowToolTip"
              :step="1"
            ></el-slider>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col
          :span="24"
          v-show="
            activeField.hasOwnProperty('fontSize') &&
              activeField.hasOwnProperty('buttonText') &&
              activeField.fontSize !== undefined &&
              activeField.transparent !== true
          "
        >
          <el-form-item style="font-weight:bold" label="Font Size">
            <el-slider
              v-if="simulatingFontSize !== ''"
              v-model="simulatingFontSize"
              :min="3"
              :show-tooltip="dontShowToolTip"
              :max="100"
              :step="1"
            ></el-slider>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item
            v-show="
              activeField.hasOwnProperty('buttonText') &&
                activeField.transparent !== true
            "
            style="font-weight:bold"
            label="Button text"
          >
            <el-input v-model="activeField.buttonText">{{
              activeField.buttonText
            }}</el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row style="float:left;z-index:1;">
        <el-col
          :span="24"
          v-show="
            activeField.hasOwnProperty('link') &&
              activeField.linkToPage !== null
          "
        >
          <el-popover
            v-model="popVisibleChange"
            placement="top-start"
            width="200"
            trigger="click"
          >
            <div style="height:auto;">
              <el-row>
                <el-col :span="24">
                  <el-select
                    v-model="searchableValueFromChange"
                    size="small"
                    filterable
                    placeholder="Search"
                    no-data-text="No processes found for this condition"
                  >
                    <el-option
                      v-for="(item, index) in lista"
                      :key="index"
                      :label="item.label"
                      :value="item.value"
                      prefix-icon="el-icon-search"
                    ></el-option>
                  </el-select>
                </el-col>
              </el-row>
              <!--
              <el-row :gutter="0" style="margin-top:13px;">
                <el-col :span="24">
                  <el-form ref="form" :model="form" label-width="20px">
                    <el-form-item size="mini" label="1.">
                      <el-input v-model="form.name"></el-input>
                    </el-form-item>
                  </el-form>
                </el-col>
              </el-row>
              -->
              <el-row style="margin-top:13px;">
                <el-col :span="24">
                  <div style="float:right; margin-top:4px;">
                    <el-button
                      slot="reference"
                      @click="attachProcessToButton"
                      :disabled="searchableValueFromChange === null"
                      style="background-color:rgb(104, 202, 217);"
                      size="mini"
                      >Ok</el-button
                    >
                  </div>
                </el-col>
              </el-row>
            </div>
            <el-button
              slot="reference"
              style="margin-top:5px;"
              icon="el-icon-edit"
              plain
              round
              >Exchange</el-button
            >
          </el-popover>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item
            v-show="activeField.hasOwnProperty('activeText')"
            label="Active Text"
          >
            <el-input v-model="activeField.activeText">{{
              activeField.activeText
            }}</el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item
            v-show="activeField.hasOwnProperty('inActiveText')"
            label="Inactive Text"
          >
            <el-input v-model="activeField.inActiveText">{{
              activeField.inActiveText
            }}</el-input>
          </el-form-item>
        </el-col>
      </el-row>

      <el-form-item
        v-show="activeField.hasOwnProperty('uploadURL')"
        label="uploadURL"
      >
        <el-input v-model="activeField.uploadURL">{{
          activeField.uploadURL
        }}</el-input>
      </el-form-item>

      <el-form-item v-show="activeField.hasOwnProperty('items')" label="Items">
        <li
          v-for="(item, index) in activeField.items"
          :key="index"
          class="properties__optionslist"
        >
          <el-row :gutter="5">
            <el-col :span="20">
              <el-input v-model="item.url">{{ item.url }}</el-input>
            </el-col>
            <el-col :span="4">
              <el-button
                @click="deleteOption(activeField.items, index)"
                v-show="activeField.items.length > 1"
              >
                <i class="el-icon-error"></i>
              </el-button>
            </el-col>
          </el-row>
        </li>
        <el-button @click="addItem(activeField.items)" type="text">
          <i class="el-icon-plus"></i>
          Add more
        </el-button>
      </el-form-item>

      <el-form-item
        v-if="!activeField.isFromUrl && activeField.options"
        label="Options"
      >
        <ul class="properties__optionsul">
          <li class="properties__optionslist">
            <el-row :gutter="5">
              <el-col :span="10">Label</el-col>
              <el-col :span="10">Value</el-col>
              <el-col :span="4"></el-col>
            </el-row>
          </li>
          <li
            v-for="(item, index) in activeField.options"
            :key="index"
            class="properties__optionslist"
          >
            <el-row :gutter="5">
              <el-col :span="10">
                <el-input v-model="item.optionLabel">{{
                  item.optionLabel
                }}</el-input>
              </el-col>
              <el-col :span="10">
                <el-input v-model="item.optionValue">{{
                  item.optionValue
                }}</el-input>
              </el-col>
              <el-col :span="4">
                <el-button
                  @click="deleteOption(activeField.options, index)"
                  v-show="activeField.options.length > 1"
                >
                  <i class="el-icon-error"></i>
                </el-button>
              </el-col>
            </el-row>
          </li>
        </ul>
        <el-button @click="addOption(activeField.options)" type="text">
          <i class="el-icon-plus"></i>
          Add more
        </el-button>
      </el-form-item>

      <el-form-item
        v-show="activeField.fieldType === 'TableComponent'"
        label="Table Columns"
      >
        <ul class="properties__optionsul">
          <li class="properties__optionslist">
            <el-row :gutter="5">
              <el-col :span="7">Prop</el-col>
              <el-col :span="7">Label</el-col>
              <el-col :span="7">Width</el-col>
              <el-col :span="3"></el-col>
            </el-row>
          </li>
          <li
            v-for="(column, index) in activeField.tableColumns"
            :key="index"
            class="properties__optionslist"
          >
            <el-row :gutter="5">
              <el-col :span="7">
                <el-input v-model="column.prop">{{ column.prop }}</el-input>
              </el-col>
              <el-col :span="7">
                <el-input v-model="column.label">{{ column.label }}</el-input>
              </el-col>
              <el-col :span="7">
                <el-input @change="columnWidth" v-model="column.width">{{
                  column.width
                }}</el-input>
              </el-col>
              <el-col :span="3">
                <el-button
                  @click="
                    deleteColumn(activeField.tableColumns, index, column.prop)
                  "
                  v-show="activeField.tableColumns.length > 1"
                >
                  <i class="el-icon-error"></i>
                </el-button>
              </el-col>
            </el-row>
          </li>
        </ul>
        <el-button @click="addColumn(activeField.tableColumns)" type="text">
          <i class="el-icon-plus"></i>
          Add more
        </el-button>
      </el-form-item>

      <el-form-item
        v-show="activeField.hasOwnProperty('htmlContent')"
        label="Html Content"
      >
        <el-input
          :rows="10"
          v-model="activeField.htmlContent"
          type="textarea"
          >{{ activeField.htmlContent }}</el-input
        >
      </el-form-item>
      <div style="width: inherit; text-align:center;">
        <el-button
          v-show="
            activeField.hasOwnProperty('link') &&
              activeField.link &&
              activeField.linkToPage === null
          "
          @click="advancedPropsVisible = true"
          style="width: 100%; margin:20px auto 0 auto; width:60%; "
          type="success"
          >{{ advancedButtonText }}</el-button
        >
      </div>
      <el-dialog
        :close-on-click-modal="false"
        :title="titleForOptionButton"
        :visible.sync="advancedPropsVisible"
        v-loading="loading"
        :show-close="alterable"
        :close-on-press-escape="alterable"
        width="45%"
      >
        <el-form ref="OptionsForm" :rules="dialogRules">
          <!-- <rating-advanced-props v-if="activeField.fieldType === 'Rating'"></rating-advanced-props> -->
          <!-- <text-input-advanced-props v-if="activeField.fieldType === 'TextInput'"></text-input-advanced-props> -->
          <!-- <html-advanced-props v-if="activeField.fieldType === 'HtmlComponent'"></html-advanced-props>
          <number-input-advanced-props v-if="activeField.fieldType === 'NumberInput'"></number-input-advanced-props>
          <select-list-advanced-props v-if="activeField.fieldType === 'SelectList'"></select-list-advanced-props>
          <options-advanced-props
            v-if="activeField.fieldType === 'RadioButton' || activeField.fieldType === 'Checkbox'"
          ></options-advanced-props>-->
          <process-advanced-props
            v-if="activeField.fieldType === 'Button'"
            :id="id"
            :resetFields="resetFields"
            :closeDialog="closeDialog"
            :startLoading="startLoading"
            :endLoading="endLoading"
            :alterPropsDialog="alterPropsDialog"
            @clicked="alterPropsDialog"
          ></process-advanced-props>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <!-- <el-button type="primary" @click="confirmForm">Confirm</el-button> -->
        </div>
      </el-dialog>
    </el-form>
  </div>
</template>

<script>
// import RatingAdvancedProps from "./RatingAdvancedProps";
// import HtmlAdvancedProps from "./HtmlAdvancedProps.vue";
// import NumberInputAdvancedProps from "./NumberInputAdvancedProps.vue";
// import OptionsAdvancedProps from "./OptionsAdvancedProps.vue";
// import SelectListAdvancedProps from "./SelectListAdvancedProps.vue";
import ProcessAdvancedProps from "./ProcessAdvancedProps.vue";
import { mapGetters, mapMutations } from "vuex";
export default {
  name: "Properties",
  components: {
    // RatingAdvancedProps,
    // HtmlAdvancedProps,
    // NumberInputAdvancedProps,
    // OptionsAdvancedProps,
    // SelectListAdvancedProps,
    ProcessAdvancedProps
  },
  props: {
    resetFields: {
      type: Function,
      default: () => []
    },
    id: {
      //coming from Home (Mobile)
      type: String,
      default: () => "1"
    },
    dontShowToolTip: {
      type: Boolean,
      defaul: () => false
    }
  }, // Get the form data from Home
  data() {
    return {
      form: {
        name: ""
      },
      searchableValueFromChange: null,
      list: [],
      labelPosition: "top",
      fieldProperties: {},
      rules: {},
      advancedPropsVisible: false,
      dialogRules: {
        dataUrl: [
          { required: true, message: "Please input url", trigger: "change" }
        ]
      },
      loading: false,
      popVisibleChange: false,
      alterable: true
    };
  },
  computed: {
    ...mapGetters("guides", [
      "getForms",
      "getActiveField",
      "getPages",
      "getActivePage"
    ]),

    activeTabForFields: {
      get() {
        return this.getActiveTabForFields;
      },
      set(value) {
        this.setActiveTabForFields(value);
      }
    },
    activeField: {
      get() {
        return this.getActiveField;
      },
      set(value) {
        this.setActiveField(value);
      }
    },
    breadcrumb: {
      get() {
        return this.getBreadcrumb;
      },
      set(value) {
        this.addToBreadCrumb(value);
      }
    },
    activePage: {
      get() {
        return this.getActivePage;
      },
      set(value) {
        this.setActivePage(value);
      }
    },
    pages: {
      get() {
        return this.getPages;
      },
      set(value) {
        this.addToPages(value);
      }
    },

    titleForOptionButton() {
      let titleFAO = "";
      if (this.activeField.fieldType === "Button")
        titleFAO = "Creation Process";

      return titleFAO;
    },
    advancedButtonText() {
      let text = "";
      if (this.activeField.fieldType === "Button") text = "Create";
      else text = "OTHER BUTTON";

      return text;
    },
    simulatingFontSize: {
      get() {
        return this.activeField.fontSize;
      },
      set(value) {
        this.activeField.fontSize = value;
      }
    },
    simulatingHeight: {
      get() {
        return this.activeField.height;
      },
      set(value) {
        this.activeField.height = value;
      }
    },
    lista() {
      let mock = this.pages.map(e => {
        return { value: e.name };
      });
      return _.remove(mock, e => e.value !== this.activePage.name);
    }
  },
  methods: {
    ...mapMutations("guides", [
      "setForms",
      "setPages",
      "setActivePage",
      "setActiveField",
      "setActiveTabForFields",
      "addToPages",
      "addToBreadcrumb"
    ]),
    attachProcessToButton() {
      if (this.searchableValueFromChange !== "") {
        let proc = _.find(
          this.pages,
          e => e.name === this.searchableValueFromChange
        );
        this.activeField.linkToPage = proc.id;
        this.activeField.processName = proc.name;
        this.popVisibleChange = false;
        this.$message({
          showClose: true,
          message: `Successfully exchanged.`,
          type: "success"
        });
        this.searchableValueFromChange = null;
      }
    },
    alterPropsDialog(value) {
      this.alterable = value;
    },
    deleteOption(option, index) {
      this.$delete(option, index);
    },
    addOption(option) {
      let count = option.length + 1;
      option.push({
        optionLabel: "Option Label " + count,
        optionValue: "Option " + count
      });
    },
    startLoading() {
      this.loading = true;
    },
    endLoading() {
      this.loading = false;
    },
    closeDialog() {
      setTimeout(() => {
        this.advancedPropsVisible = false;
      }, 1000);
    },

    addItem(item) {
      item.push({
        url: ""
      });
    },
    deleteColumn(column, index, prop) {
      this.$delete(column, index);
      this.activeField.tableDatas.forEach(function(ele) {
        delete ele[prop];
      });
    },
    addColumn(tableColumns) {
      tableColumns.push({
        prop: "",
        label: "",
        width: 180
      });
    },
    columnWidth(value) {
      if (value && isNaN(value)) {
        this.$message.error("Column width should be a number!");
      }
    },
    confirmForm() {
      this.$refs["OptionsForm"].validate(valid => {
        if (valid) {
          alert("submit!");
        } else {
          return false;
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.properties__optionslist {
  margin-bottom: 5px;
  list-style: none;
  list-style-type: none;
}
.properties__optionsul {
  padding: 0;
}
.el-form-item {
  padding: 5px;
}
div.el-input-group__append {
  padding: 10px;
}
.el-row {
  margin-bottom: 0px;
}
</style>
